[2019-12-14 18:59] dod38fr commented on #294
Well, `goreleaser.yml` still nentions `unlicense`:
[code]

[2019-12-14 19:01] dod38fr commented on #294
On the other hand, the main license file was switched to CC0 and released with version 0.16.0 .

[2019-12-14 23:19] zaquestion commented on #294
@dod38fr Thanks for the heads up, it's fixed on master now. I searched for any more mentions and didn't see any. Thanks for helping get this closed out.

[2019-12-14 23:19] #294 closed

[2019-12-16 23:00] zaquestion commented on #152
@darkmattercoder If you're willing to try another test would you mind building lab off https://github.com/zaquestion/lab/tree/tls_skip_test and seeing if it works. I don't have a test environment for this atm, but I can see the values properly getting passed through to the `http.Client` we're passing through to the `go-gitlab` api.

The branch I just pasted attempts to set `skipVerify` on the defa

[2019-12-17 00:33] darkmattercoder commented on #152
I will do that test, promised. However I am off my office for the next three weeks, so I think it will not happen before.

[2019-12-17 14:34] gaving commented on #152
@zaquestion

Had a go off the `tls_skip_test` branch, pasted my result here:-

https://gist.github.com/gaving/18b358e569a8e0817b179d11d8af57a2

Getting the same error.

Any further debugging I can try?

[2019-12-17 17:05] zaquestion commented on #152
@gaving That revealed the issue, evidently I'm the asshole

https://github.com/zaquestion/lab/blob/master/main.go#L163

To automatically get the user without it being specified in the config I instantiate the gitlab client manually at the above line (shown in the error you posted) it happens before the actual lab client is created. Thanks for the assist! I should have a working solution out today

[2019-12-17 19:05] gaving commented on #152
@zaquestion

No worries, cheers for looking into this! 👏

On Tue, 17 Dec 2019 at 17:05, Zaq? Wiedmann <notifications@github.com>
wrote:

[2019-12-17 20:10] zaquestion commented on #152
This should fix it https://github.com/zaquestion/lab/pull/359

@gaving if you have a moment would you mind trying https://github.com/zaquestion/lab/tree/tls_skip_fix just to be sure.

[2019-12-17 20:12] gaving commented on #152
@zaquestion

No problem, GMT here so will try it first thing tomorrow in work!

On Tue, 17 Dec 2019 at 20:10, Zaq? Wiedmann <notifications@github.com>
wrote:

[2019-12-18 07:33] gaving commented on #152
@zaquestion

Built fresh image off `tls_skip_fix` branch:-

![image](https://user-images.githubusercontent.com/43741/71065119-774be780-2168-11ea-8f09-a6ccf43df4e3.png)

Seems to not like the config any more? Tried removing the tls but still get the same error.

[code]

[2019-12-18 08:01] zaquestion commented on #152
Oops, dumb mistake I thought I tested, but actually my own `lab.hcl` had that value set. Just pushed a fix, this time for sure!

[2019-12-18 11:12] gaving commented on #152
@zaquestion

Definitely pushed? Same error... but had to `git reset --hard origin/tls_skip_fix` due to some diverging branches.

[code]

[2019-12-18 17:56] zaquestion commented on #152
Yeah for sure, I did rebase the commits so thats why you had to do that, probably should have waited on that.... I guess I'll just need to get gitlab going locally with https. You defs have the new code because the error line has moved in alignment with the changes... Errg sorry this is taking so long.

[2019-12-18 17:58] gaving commented on #152
Ah no worries, give me a shout if you want any more testing - it must be difficult if you don't have a test setup.

I'd poke about myself but my Go knowledge is non existent! 🤣

[2019-12-18 18:36] zaquestion commented on #152
hmm, I'm seeing it work for me, it turns out getting this going locally isn't that bad

docker run for gitlab with tls
[code]

config
[code]

bad project, but successfully skipping verification
[code]
reproduced with skip_verify set to false
[code]

@gaving you might try setting the user in your config to get past that initial error, it also speeds lab up a bit. That said, I'm gonna at least relea

[2019-12-18 18:48] gaving commented on #152
@zaquestion

Interesting, I wonder if it's specific to my setup in the case.

I'll have another play tomorrow and try setting user.... cheers.

[2019-12-18 21:57] zaquestion commented on #152
The release is out as well https://github.com/zaquestion/lab/releases/tag/v0.17.2

[2019-12-19 07:53] gaving commented on #152
@zaquestion

🎉🎉🎉

Release seems to be working perfectly at this end.

![image](https://user-images.githubusercontent.com/43741/71154835-5c46a980-2234-11ea-9bbf-7bafc3d9380d.png)

Thanks for sorting this, not sure why inside Docker made any difference but glad to have it working now!

[2019-12-24 16:15] claytonrcarter commented on #240
I've also encountered this. `lab ci status --wait` doesn't ever seem to return. As I read the code (you know my Go ain't great), it looks like it never actually retrieves an updated list of CI jobs and just loops over the first list it received ... which makes sense why it would never update! :)

[2019-12-24 16:20] claytonrcarter opened #360 "`lab ci status` when local branch name != remote branch name"
`lab ci status` has been great (thanks!) but I have recently been working w/ a long running branch that, for a variety of reasons, is names differently locally than on the remote and `lab ci status` doesn't seem to be able to handle this. Does this behavior make sense, or am I misinterpreting something? Does it make sense to try to determine the name of the remote tracking branch and lookup the CI

[2020-01-09 18:36] zaquestion commented on #240
Yep @claytonrcarter is right, my code was just bunk 😊

[2020-01-10 08:23] SYip commented on #348
@zaquestion , yes I had read the #130 issue.

Sometime it would be easier to set the project id in directory root than to make the sysadmin do the work for you. XDD

[2020-01-27 10:49] darkmattercoder commented on #152
Works for me as well now. Sorry for the late reply, but life happened ;-)

In my opinion you can close here.

[2020-01-27 12:28] Preisschild commented on #259
Is there a way to "scroll" the list?

hjkl only selects different jobs, but doesnt scroll the window with it.

[2020-01-27 16:59] brodock opened #363 "app.Stop() is hiding output from log.Fatal"
I was trying to investigate why `lab ci view` wasn't working, and I couldn't get existing `log.Fatal` to print any error for me... I also trying redirecting stderr to a file, which is also not working. tview may be doing something I couldn't figure out yet.

My initial guess was that either `app.Stop()` was replacing the content at the same time `log.Fatal` was printing, or it was stopping the app

[2020-02-10 09:30] moltar opened #364 "lab mr checkout 39: mr_checkout.go:33: the key `remote.origin.url` is not found"
I'm trying to checkout a MR:

[code]

But my checkout doesn't have an `origin` remote:

[code]

How to deal with cases like this?

Thanks!

[2020-02-12 17:20] zaquestion commented on #364
You should be able to pass the remote as an argument

`lab mr checkout gitlab 39`

[2020-02-12 17:21] zaquestion commented on #364
If that doesn't work probably an easy fix

[2020-02-13 10:44] alaenix opened #365 "Error at first usage : unsupported protocol scheme """
Hello,

I installed lab on Ubuntu 18.04.3 LTS using the curl installation command but after i gived my gitlab account id and token, I got this error message each time I'm trying to use lab :

`2020/02/13 11:36:17 main.go:178: Get myname@domain.com/api/v4/user: unsupported protocol scheme ""`

`lab -h` and `lab version` are giving me the same error.

Any ideas how to fix that ?

Thanks in advance !

[2020-02-13 12:57] claytonrcarter commented on #365
Best guess: you need to edit your gitlab host to start with`https://`. (I'm also not sure how it handles `user@host` format, so that may be another issue.) I forget if there's a way to "reconfigure" lab after the first time, but you can manually edit your settings in `~/.config/lab.hcl`. (Well, that's where it is for me, on a mac.)

[2020-02-14 10:35] alaenix commented on #365
@claytonrcarter Thanks for the respond. Modifying directly the `~/.config/lab.hcl` worked for me :

[code]

I figured this out by myself ultimately but I struggled with this issue because there is no way to "reconfigure" lab after the first time and it seems broken (inability to use -h or version options).

[2020-02-14 10:35] #365 closed

[2020-02-15 09:33] zaquestion commented on #365
The attempt to simplify configuration by looking to the user from the API, while nice, has left a number of usability issues like the one you encountered here truth be told

[2020-02-17 08:53] moltar commented on #364
That doesn't work, unfortunately :)

[code]

[2020-02-19 10:39] mmngreco commented on #191
Hi guys, this feature looks awesome! I will be very happy to see it in the following releases. I would like to give you another point of view in order to show you my using case. I'd like to use something like:

[code]

and It will be great the possibility of edit a file with vim.

[2020-02-19 16:51] yoctocell opened #366 "lab mr create: mr_create.go:83: exit status 129"
# Problem
I  have two branches - `master` and `test` and I am trying to create a merge request to merge `test` into `master`:

[code]
But I get the following error:

[code]

# System
- OS: Arch linux
- git version: 2.25.0
- lab version: 0.17.2

How should I fix this?

Thanks!

[2020-02-19 19:56] nkprince007 commented on #191
@zaquestion are you working on this or do you mind if I start sometime next week?

[2020-02-24 13:03] andreiborisov opened #367 "Add fish completions"
Would be nice to provide `fish` shell completions in addition to `bash` and `zsh`

[2020-03-09 21:12] koberleitner-hpg opened #369 "mr merge fails if no CI pipelines exist"
I have the lab 0.17.2 CLI installed on macOS and mostly working well thus far with GitLab 12.3.1, however I'm having issues with the `mr merge` command. Running a merge, such as:

[code]
fails with the error:
[code]
I found that PUT `https://mycompanysgitserver.com/api/v4/projects/1594/merge_requests/3/merge` works fine via curl and Postman. After some digging though the project code, I see that `

[2020-03-10 16:02] mmngreco commented on #334
+1

[2020-03-15 11:05] rsteube commented on #367
I gave this try by adapting the zsh completion for fish and so far it looks pretty promising: https://github.com/rsteube/cobra-fish-gen/commit/b5ef2c3bc41f01dbf7449d0ba515a5df807d7ed6

Integrated it here as a test: https://github.com/rsteube/lab/tree/fish

related: #368

[2020-03-16 10:02] mmngreco opened #370 "Is it possible list all issues from a given milestone?"
Hi there,

I'm wondering if is possible list all issues from a given milestone. It would be very helpful if we could do something like the following:

[code]

[2020-03-19 15:55] oxr463 opened #371 "lab ci cleanup"
See: https://stackoverflow.com/a/55815040/8507637

[2020-03-21 09:43] maelvls commented on #267
Yey!! I’m now sponsoring you through the GitHub Sponsor thing! 🥳

[2020-03-21 12:56] zaquestion commented on #267
@maelvls deeply appreciate it, that donation goes directly to my farm. Which is struggling with the ongoing pandemic and farmers market shutdowns in Seattle. Every dollar counts, thanks for using and supporting `lab`

[2020-03-26 15:57] abeluck opened #373 "[feature request] Create MR with title and description from a file"
hub's pull-request supports the `-F` / `--file` option to create a PR from a prepared markdown file

I'm really missing this particular feature from lab, as I have a nice automation workflow where bots create nicely formatted MRs using this feature.

ref: https://hub.github.com/hub-pull-request.1.html

[code]

[2020-03-26 18:10] rsteube commented on #367
Merged it into a new project and added bash as well: https://github.com/rsteube/carapace

[2020-03-28 18:51] nijel opened #374 "lab --version requires api authentication"
Invoking with simple args such as ``--version`` or ``--help`` should not require authentication to GitLab and should not query the remote server.

Without configuration:

[code]

When hitting rate limiting on GitLab:

[code]

[2020-04-06 07:28] abeluck commented on #211
This would be really great!

[2020-04-06 19:12] odise opened #376 "StringSliceP vs. StringArrayP usage for flags"
Hi,

I just came around an issue while adding notes to project issues like the one below:

[code]

After a bit of research I found that this is related to the usage of `pflags` StringSliceP parameter type used on various places in the code. Specifically `GetStringSlice` is raising the error above.

I just would like to put https://github.com/spf13/pflag/issues/157 as a reference here and suggest u

[2020-04-14 15:57] johnwebbcole commented on #338
Any progress on fixing this?

[2020-04-16 22:34] #349 closed

[2020-04-22 10:00] tfurf opened #377 "Supporting GitLab search API"
With large (many repo) projects, I find it common to use the GitLab search (in the browser) to try and find projects of which I know only part of the name for sure. Is there some interest in exposing this part of the API ([1]) into `lab`? For example, `lab project search`?

[1]: https://docs.gitlab.com/ee/api/search.html

[2020-04-27 10:14] lazyfrosch commented on #151
Is anyone working on this?

[2020-05-21 10:30] FanyiZeng commented on #146
`lab mr approve 5243`

maybe the api is changed

[2020-05-22 11:41] claytonrcarter commented on #329
I'm closing this b/c `lab`s default project visibility was changed to "private" in 284fbb8

[2020-05-22 11:41] #329 closed

[2020-05-28 01:39] l29ah opened #379 "lab can't handle signed commits with git set up to show the signature info"
have following in `~/.gitconfig`:
[code]
then try to `lab mr create`
observe the merge request boilerplate being screwed up by the signature info
similar bug in `hub`: https://github.com/github/hub/issues/1379

[2020-06-04 12:45] lukmdo commented on #338
I check and back to this this week - looking to this after long while.

[2020-06-15 13:08] kreig303 commented on #146
[code]

[2020-06-29 22:30] mrbrownt opened #381 "Git internals don't work remote oauth url"
I am using an oauth remote url in the format `https://oauth2:${SERVICE_ACCOUNT_GITLAB_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git`

When running `lab mr create ${BRANCH} master` I'm getting the following error.
[code]
I know this upstream remote url does exist because it's was used to create a branch prior to this command.
I'm running this all in gitlab CI.

[2020-06-30 11:25] tfurf opened #382 "Read token from other sources (like secret/password manager)"
Having the user token stored in plaintext makes the config file not a great candidate for being version controlled. Is there some appetite or view forward on being able to load the tokens dynamically from somewhere else?

For example, I use `pass`, [[1]], and normally to load a password I would do something like:

[code]

In the config, this might be something like,

[code]

This relates to #151,

[2020-07-28 19:36] zaquestion commented on #373
Seems reasonable, and I appreciate hearing the workflow you're looking for. lab is already working with files to read the title and description, so it should be relatively straightforward to add this flag. Would definitely consider a pull request.

[2020-07-30 07:48] Madh93 commented on #373
Is there an example of how to create a MR reading the title and description from a file?

[2020-08-14 13:27] brettdh commented on #304
I got bitten by this today - my project has a `master` branch, but the default branch is different, and we almost always open MRs in the web UI against the default branch.

[2020-08-15 12:59] prarit opened #389 "lab commit b0b8ee22492b ("alec/multiple-assignees") causes panic with 'lab mr show' command"
I am using lab top-of-tree commit 236a3683336a ("Merge pull request #383 from jwessel/master").  I am testing on https://gitlab.com/prarit/sst-test.git.

I am executing 'lab mr show 1' which results in the following panic:

[prarit@prarit sst-test]$ ~/git-kernel/github/lab/lab mr show 1
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation

[2020-08-15 13:03] prarit commented on #389
@alecbz ... ping.

[2020-08-15 13:04] prarit commented on #389
@alecbz, I apologize for the early morning issue ;).  I haven't had much time to debug and will dig in unless you beat me to it :)

P.

[2020-08-15 13:09] prarit commented on #389
git-bisect log:

[prarit@prarit lab]$ git bisect log
git bisect start
# bad: [236a3683336a9638286cdb060ba2a54b710e0367] Merge pull request #383 from jwessel/master
git bisect bad 236a3683336a9638286cdb060ba2a54b710e0367
# good: [a7646da14338df8cdaabc2a9f80c45d47c2bd322] Merge pull request #359 from zaquestion/tls_skip_fix
git bisect good a7646da14338df8cdaabc2a9f80c45d47c2bd322
# good: [ea586a46f9

[2020-08-20 08:11] #333 closed

[2020-08-20 08:11] #367 closed

[2020-08-20 18:51] #389 closed

[2020-08-21 07:22] zaquestion commented on #377
@tfurf `lab project list` has some search and filtering functionality. https://zaquestion.github.io/lab/lab_project_list.html

Does this work for what you're looking for?

[2020-08-21 07:30] zaquestion commented on #376
Interesting, at the moment I don't recall making a conscious choice to choose one over the other, and I'm thinking I probably thought they were alaises to the same functionality...

Thanks for the reference issue, seeing the difference clearly, I think `StringArrayP` seems more appropriate for a lot of our stuff I imagine. Particularly the message flags. Things like assignees and labels SliceP see

[2020-08-23 15:55] prarit opened #402 "config file usage?"
Hey @zaquestion,

There are a few features for which I will need to use the configfile.  I'm not sure if there any restrictions on using it ATM and want to get clarification for it's use.

Here are some of the things I'm thinking of using the config file for.  Please note my examples are in a gitconfig format and I do understand that the lab configfile is in hcl.  The gitconfig format just seemed

[2020-08-24 03:32] #249 closed

[2020-08-26 08:35] zaquestion commented on #373
https://github.com/zaquestion/lab/pull/400 added support for this

[2020-08-27 05:17] zaquestion commented on #402
We can expand on the config file. Long term I want to rip out hcl, which hasn't actually played as well with viper as one would hope. The code to work around that is real nasty in lab. You may find it generally unpleasant to work on the config code. If you want to move with more broad strokes in mind I might suggest creating a new config directory `~/.config/lab/config.<something>` and going from

[2020-08-27 05:40] zaquestion opened #406 "Migrate to GitLab"
GitLab has had an open issue for a while now desiring a "Lab CLI for GitLab", and we've made ourselves known. More recently we've started talking about officially making the move into GitLab's official namespace.

See: https://gitlab.com/gitlab-org/gitlab/-/issues/14448#note_399479784

This issue aims to capture the immediate todos to get `lab` fully re-homed functionally speaking. (no particular

[2020-08-27 05:43] zaquestion commented on #406
@rsteube @prarit @claytonrcarter for visibility

(y'alls opinions are welcome too, if there's any opposition in moving over nows the time to voice it ;)

[2020-08-27 06:10] zaquestion commented on #338
@lukmdo does #380 solve this issue?

[2020-08-27 12:43] prarit commented on #402
FWIW I found using hcl a bit clunky as well.  It doesn't lend itself to easily making hand edits like the .gitconfig files do.  Let me get through #405 and for the longer term I can concentrate on finding a better config tool.  I'd like it if we could have a .gitconfig format as that seems natural to use.

I think a way to do this would be to read the token to see if it "looks" like a token.  Ther

[2020-08-27 12:48] prarit commented on #406
I have a copy of lab on gitlab FWIW.  https://gitlab.com/prarit/lab

I will nuke it if necessary to free up the namespace.

[2020-08-27 13:22] rsteube commented on #406
Nah, makes sense as it will tend to more usage of it during development (EYODF).
Keeping track will be a bit harder for me though as everything else is on github so far.
Might want to get #151 done first so that it won't interfere with any work profiles.
And i think the ci tests need to be updated to support parallel builds - i believe there was sth. regarding the test repo that might prevent that

[2020-08-27 16:02] prarit commented on #402
I spoke with a few 'lab' users about the pros-and-cons of using a ~/.config or ~/.local based configuration setup vs a .git setup, and there are some good arguments on both sides.  However there are a couple of use cases that would clearly break and/or require additional steps.

With larger projects like the kernel, gcc, and python it is common to check out the repo and use the repo remotely (eith

[2020-08-27 16:25] zaquestion commented on #406
Welcome @mocha and @leipert -- they'll be aiding us on the GitLab side to get everything over. @leipert to post his thoughts on best approach. So far we've talked about getting the project imported and with a 1way mirror (github -> gitlab) to start, with the ultimate goal of reversing the direction or even severing the mirror.

[2020-08-27 16:31] zaquestion commented on #382
Defs support this, and even like the way you suggest using a different (alt) creds key. This way there aren't any backwards compatible issues. One thing we'll need to sort out is the current first time flow which has users create a token and enter directly into lab, which then writes the config. This might be fine, as users who want this can just delete the raw token and place into password manage

[2020-08-27 16:35] zaquestion commented on #382
Xpost from #402

\- Me

\- @prarit

This approach seems reasonable as well, provided we're confident we can reliably detect token vs command. I suppose this could be as simple as taking the token and trying a gitlab call (like GetUser) or the inverse, attempting to execute and seeing checking for failure.

[2020-08-27 16:38] zaquestion commented on #406
@rsteube Good point

There are some small things we can do (called out on the issue) to make this work nicer. I imagine maybe of us will have private instances and need to work with gitlab.com -- Long term I want to redo the config for 1.0 and support this sensibly

[2020-08-27 17:06] zaquestion opened #407 "Rehaul Configuration"
`lab` currently uses hcl as it's config format, and offers limited configuration. In large part minimal config options have been added to lab because `hcl` hasn't played super nicely with `viper` overall (particularly the automatic env vars functionality, which we want to leverage). For 1.0 I'd like to completely redo this, with a simpler file format that plays nice with automatic env vars. The ma

[2020-08-27 17:08] zaquestion commented on #402
re: General Config -- I hammered out a quick issue to track this moving forward: https://github.com/zaquestion/lab/issues/407
A) See https://github.com/zaquestion/lab/issues/382
B) 👍
C) Sounds good, I'm onboard with using `.git` for this now, appreciate talking it out, that's really what we're looking for when making these kinds of decisions.

Semi relevant Xpost from #405 for context

Let's go ah

[2020-08-27 17:30] prarit commented on #407
Personally I'd like to see an ini format but that's just me :).  Let me look into this to see what I can come up with.  To be clear, you have no objection to continuing to use viper.  It's just that viper doesn't handle hcl very well, correct?

[2020-08-27 18:14] rsteube commented on #406
Quick fix would be to just look at origin remote domain of the current project (if any) to load configuration for that and fall back to the default otherwise.

[2020-08-27 19:35] rsteube commented on #407
Big fan of yaml personally, but [toml](https://github.com/toml-lang/toml) is prefered by a lot for it's more unambiguous syntax.
I find json not so great for configs that are edited by hand.

[2020-08-27 19:52] zaquestion commented on #407
Correct, and more specifically, I want automatic environment vars to work more or less out of the box and not require all manner of shennanigans to work https://github.com/zaquestion/lab/blob/master/main.go#L54-L137

Had forgotten what `toml` looked like when I quickly wrote this up this morning. Agree `toml` seems like the stronger route (over `ini`) to supporting "git like" configs.

[2020-08-27 22:50] prarit commented on #402
I'm not going to make any medium or major changes without your approval.  Small changes, bugs fixes I'm okay with merging but beyond that I'm not going to self merge unless I get a signoff.

[2020-08-28 07:01] tfurf commented on #382
IMHO it's better to be explicit than clever --- adding a different key (at least in the beginning) is guaranteed to not cause compatibility issues. Eventually the alternative token behaviour can be merged back into the current `token` parsing.

In any case, given #406, #407, and #151, is this worth pursuing now or waiting for the dust to settle somewhat?

[2020-08-28 17:05] zaquestion commented on #382
We can pursue this now, this should fit in well with the other stuff.

[2020-08-29 20:25] prarit commented on #407
Ditto and I think we're all in agreement that toml looks like the best approach moving forward.

[2020-08-29 20:34] prarit commented on #407
I would like to implement something that differentiates between a local and global config, just like git does.  For example, if there is a local .git/lab/config, the settings in that file would override the ~/.config/lab/config settings.  Doing that, however, increases complexity as there would have to be a 'lab config' command that had a --local and/or --global option.

An example: .git/lab/confi

[2020-08-29 20:59] prarit opened #408 "Output of comment ID in 'mr show' display discussion"
I want to be able to reply to a specific issue or mr comment with a command 'mr reply <comment_id>'. [1]  The design decision I'm struggling with is how to display the comment ID.  I've tried placing it on it's own line, putting it at the beginning of the current comment output, after the date, etc.

None of that looks good :(.  Does anyone else want to offer a preferred place for the comment ID?

[2020-08-29 21:02] prarit commented on #407
Another reason we want to have global and local configs: On some projects I'm going to want the comments *always* displayed when doing a 'show mr', and on other projects I'm likely not going to care unless I really want it.  Having a

[mr show]
     comments = true

would easily fix that type of problem.

[2020-08-31 20:44] zaquestion commented on #304
I believe this should be resolved once https://github.com/zaquestion/lab/pull/391 releases

[2020-09-01 07:37] galan opened #410 "New release"
The last release is from December 2019 and I wanted to ask if there is a plan to release a new version?

I'm waiting for some features, such as https://github.com/zaquestion/lab/issues/349

Thanks for your efforts and this helpful tool!

[2020-09-01 11:47] leipert commented on #410
Hey @galan, this is happening soon as part of: https://github.com/zaquestion/lab/issues/406

[2020-09-01 12:14] galan commented on #410
Thanks, looking forward to it.

[2020-09-01 12:14] #410 closed

[2020-09-01 12:27] leipert commented on #406
I have had a look, (as you already have seen by MR) and wanted to leave a proposal for an updated plan on the move with added responsibilities.

- [ ] @leipert Initial Setup CI:

     I have added mirroring to: https://gitlab.com/gitlab-org/ecosystem-team/lab, this is just temporary until we have the CI running on GitLab: https://github.com/zaquestion/lab/pull/409

    **Blocker** (@zaquestion): T

[2020-09-01 21:53] bmeneguele opened #411 "Config file overwritten if user is empty"
Hi @zaquestion and @prarit,

In commit 1285411b8584bac827bf876e6c1d44180e871d5b @prarit forced the `core.user` config option to be written to the config file in case it's empty, however Viper doesn't update/merge the configuration file, but overwrites it: if you have a config file like the following one:
[code]
And you run `lab`, the code messes up with the config file:
[code]
`viper.WriteConfigAs

[2020-09-01 22:52] zaquestion commented on #411
In the short term, it might be easiest to just revert that commit. Originally user was in the config, but I removed it to make lab "smarter" and remove 1 less step for the user. That decision has caused more heartache than I would have hoped for...

In any case, ideally we'd lookup the user around https://github.com/zaquestion/lab/blob/master/main.go#L69 so it's written in when the config is creat

[2020-09-02 00:12] prarit commented on #411
Ouch.  @bmeneguele, can you revert 1285411b8584 ("config: Fix missing core.user entry") locally and test?  If that works I'll revert ASAP.

I can reproduce this locally and reverting that commit seems to resolve the problem.  I will revert after you confirm.

[2020-09-02 07:22] faruryo commented on #152
Hi,

It looks like skip_verify is not working in GitLab CI.

Perhaps you need to specify tlsSkipVerify outside of the config file because GitLab CI has returned in the case of GitLab CI before viper.ReadInConfig() in main.go's loadConfig().
https://github.com/zaquestion/lab/blob/master/main.go#L68

Is there a workaround?

[2020-09-02 11:01] faruryo commented on #152
Self-resolved.
I could use skip_verify by using environment variables instead of configuration files.

`export LAB_TLS_SKIP_VERIFY=false`

[2020-09-02 12:10] prarit commented on #152
Yes, this appears broken in latest tip.  I think it might be something with using .hcl files and viper.

[2020-09-02 12:25] bmeneguele commented on #411
Yes, reverting the patch solves the problem. You've my green light :D

Indeed, it would the possible situation of `core.user` being empty. I'm going to open a new issue, since this one will be solved by @prarit 's revert, and will prepare a patch with this change and propose other to see if you guys agree.

Thank you both :)

[2020-09-02 13:28] prarit commented on #407
A few things to report.  I don't think the HCL code is working *at all*.  viper.GetString("core.token"), for example, is always empty.

I've filed

https://github.com/spf13/viper/issues/967

to see if there is any feedback.  I've tried YAML (which works!), and HCL & TOML (both of which fail).

[2020-09-02 13:36] prarit commented on #407
My plan is to:

1.  Convert the existing viper infrastructure to use TOML instead of HCL.  This requires a new config function ConvertHCLtoTOML that would convert existing HCL files to TOML.  It would be run from main().

As noted in the previous comment, however, https://github.com/spf13/viper/issues/967 is a problem.  It could be that I just need a gentle tap on the head with a cluebat ;) and th

[2020-09-02 14:14] bmeneguele commented on #407
May I also suggest to move the `configLoad()` code into internal/config/config.go as `Load()` (or something similar)?
Thus we have a clear separation of configuration organization related code and its usage.

[2020-09-02 15:37] #277 closed

[2020-09-02 18:45] prarit commented on #407
I have #1 above staged in https://github.com/zaquestion/lab/pull/414.

[2020-09-02 20:12] prarit commented on #407
4.  Use ~/.config/lab/lab.toml <- according to a colleague it is bad practice to leave a config in the .config directory.

[2020-09-02 20:13] prarit commented on #407
The second part is also staged in #414

[2020-09-02 20:20] zaquestion commented on #407
yeah agreed, would be best to put under it's own directory

[2020-09-02 21:14] bmeneguele commented on #407
Both first and second parts are looking good in #414! :)) Just had a couple of simple doubts, which I added in the PR.

And about a lab/ folder for the config file... +1.

[2020-09-03 23:51] #408 closed

[2020-09-03 23:51] #411 closed

[2020-09-04 00:06] prarit opened #415 "Allow .git/lab/lab config to override ~/.config/lab/lab"
As stated in  https://github.com/zaquestion/lab/pull/414  I'd like to allow overrides between the global (~/.config/lab/lab) and local git-tree (.git/lab/lab) configs.  There is a problem with the way viper works that prevents us from doing this and viper would need to be modified with a new function.

Suppose I have two config files with the same name but in different directories:

.first/lab wit

[2020-09-04 15:51] bmeneguele commented on #415
@prarit, two things:
1) I think your message's body is malformatted because you placed a '[' before the quotation mark "```" right in the first code :)
2) what if we proactively search for the existence of the files before passing it to viper? I mean, we know what are the config levels we have: user level with the config file in $HOME/.config/lab/ and the project level with .git/lab/, thus:
- the

[2020-09-04 17:08] prarit commented on #415
Hah :)  Thanks.  I didn't have a chance to go back and think about it.

I think that would work.  I was debating about using viper.UnMarshall() in the #414  but wanted to concentrate on using toml first.

[2020-09-04 17:10] prarit commented on #415
After looking at the viper code, this works for my config examples above.
[code]

[2020-09-04 17:51] prarit commented on #382
@tfurf , I'm waiting on the dust from #414 to settle but this feature will nicely fit into the new config work.

[code]

[2020-09-04 18:22] prarit commented on #382
I'm trying to think of a test to write for load_token.  The only thing I can think of doing is creating a simple bash script dummy_token.sh

[code]

and creating a dummy lab config with

`load_token = "./dummy_token.sh"`

and executing 'lab mr list' in the test repo to see if lab read in the token or not.

[2020-09-06 00:29] zaquestion commented on #406
@leipert Plan looks good, a couple notes:

I've updated #409 so the tests are working now, I'm going to continue on to see if I can get some of the release functionality working too

The import should handle this, I can see the releases made it over in this import already: https://gitlab.com/gitlab-org/ecosystem-team/lab/-/releases

[2020-09-06 02:19] zaquestion commented on #406
@leipert @mocha Reminder that lab currently uses the CC0 license: https://github.com/zaquestion/lab/blob/master/LICENSE

Any friction there?

[2020-09-06 13:58] #407 closed

[2020-09-06 15:15] prarit commented on #382
@tfurf , can you checkout #416 and test please?  As stated above, I've added a "load_token" config option that will use the contents of "load_token" as an executable, and use that output as the token value.

For example,
`
load_token = "pass show work/software/gitlab/token"`

Please provide your testing input in #416 .

Thanks :)

[2020-09-08 14:09] prarit commented on #402
So I think this has been resolved in lab with MR 397 and 416.

[2020-09-08 17:56] #402 closed

[2020-09-08 17:57] prarit opened #418 "mr/issue note: reply to a specific comment"
I'd like the ability to execute 'lab mr reply <comment_id>', for convenience.

The one problem with doing this is deciding where to show the comment id in the 'mr show <mr_id> --comments' output.  I think that changing the output to:

-----------------------------------
comment #12345 by prarit on 2020-09-02 19:57:16.315 +0000 UTC

hello world

-----------------------------------
comment #23456 by

[2020-09-08 17:58] prarit opened #419 "lab: unmarshal config"
Use viper's unmarshal to populate data structures with config options.  This wil be useful to keep config changes and usage consistent across the lab sources.

[2020-09-08 20:56] bmeneguele opened #422 "--no-markdown|-M flags with no action on parent command"
--no-markdow,-M are described in the parent `lab mr` and `lab issue` commands, however it's only used in the `show` subcommand of these, which have their own implementation and description in place. With that, I think this flag should be removed from these parent commands to avoid confusion, like I had while trying to use it.

[2020-09-09 17:08] bmeneguele opened #424 "fork cmd fails to clone projects from subgroups"
Projects placed within multiple levels of subgroups cause the `lab fork` to actually fork the project in gitlab, but don't clone it to the local machine:
[code]
From my point of view the code handling the clone from `fork` only considers the first project's path level instead of the "last", since that's how gitlab works: in a fork situation it basically copies the project name the user is forking

[2020-09-09 17:10] prarit opened #425 "MR Description doesn't display correctly"
I've noticed this a few times when using lab   If I execute 'lab mr create' and enter text like

[code]
Then gitlab will mangle the first 4 lines into a single paragraph and either mark the "^commit" line as the start of code, or the "vt: vt_ioctl" line as the start of code.

This then translates poorly into 'lab mr show' which displays

[code]

instead of the expected first section above.

Normal

[2020-09-09 17:44] bmeneguele opened #426 "fork fails when project's name is different from its path text"
Lab seems to be using `project:name` field to use as the folder destination of a repo clone instead the `project:path` one, which can be totally different from project's name:
[code]
In the above case `project:name = "SDN"'`, while `project:path = "sdn"`

[2020-09-09 18:55] prarit commented on #425
[code]
would fix it.

[2020-09-09 19:10] bmeneguele commented on #425
But that would break anyone actually trying to use Markdown, wouldn't it?
Maybe adding a flag to "mr create" to add it conditionally?

[2020-09-09 19:11] prarit commented on #425
Yeah, I'm good with that too :)

[2020-09-09 19:21] zaquestion commented on #425
Hmm, I'm a little bit confused on what the issue is exactly.

The logic for splitting a PR and title will consider the first line until a `\n\n` the title of the MR.
Ref: https://github.com/zaquestion/lab/blob/master/internal/git/edit.go#L110-L131

So for this, I'd expect behavior similar to what you're seeing and wrapping the body in "```", I don't think would produce the result you're looking fo

[2020-09-09 19:21] prarit commented on #425
FWIW, it's not just MRs.  It's anything with a text body.  I'll have to think about a more global approach.

[2020-09-09 19:32] prarit commented on #425
Sorry I confused you a bit @zaquestion :( .  I'm entering the following for the MR description:

[code]
so that the title is

[code]

and the body is

[code]
There is some additional info that I've snipped off from the commit message itself.  AFAICT the actual problem is that gitlab translates the sentences

[code]

as a paragraph because there lines are not terminated with a '.'  (Aside: If I do

[2020-09-09 19:37] prarit commented on #425
I wonder if it's broken
here too?

[2020-09-09 20:03] zaquestion commented on #425
Ah, yeah I think this is a behavior of markdown that GitHub has some improved handling for in comments/PRs/issues, whereas GitLab is all markdown by default IIRC. The behaviors are captured nicely in this gist https://gist.github.com/shaunlebron/746476e6e7a4d698b373

I don't think wrapping the body in a codeblock is the right answer here, but perhaps we should entertain the ideas around inserting

[2020-09-09 20:35] zaquestion commented on #182
Looks like the "list bridge pipelines" api would expose a path to implementing this https://docs.gitlab.com/ee/api/jobs.html#list-pipeline-bridges

[2020-09-10 00:19] prarit commented on #425
Let me look into adding the 2 space line brakes into the text and if that works.  I'll definitely add the flag.

[2020-09-11 16:34] #422 closed

[2020-09-11 20:34] #382 closed

[2020-09-14 14:49] prarit commented on #415
Today there are three ways to get core config data:

1.  Override via LAB_ env values
2.  "dot" (ie the local directory)
3.  ~/.config/lab

I propose to change this to a more git-like experience of

1.  Override via LAB_ env values
2.  Optional --config <config_name> parameter that is NOT overriden by
    any other config
3.  ~/.config/lab/
4.  work tree local .git/lab/

This would allow, for exam

[2020-09-14 17:39] zaquestion commented on #415
Just for the record, in the config overall you added loading of config files from the `.git` directory https://github.com/zaquestion/lab/blob/master/internal/config/config.go#L248-L250

I think this issue and the above comment is entirely related to the desired new merge functionality?

[2020-09-14 18:08] prarit commented on #415
Yup, this issue and the above comment is related to the desired new merge functionality.

[2020-09-15 16:23] bmeneguele commented on #366
I'm not being able to reproduce the issue.
There were some changes in the last few weeks, could you retest it?

[2020-09-17 23:16] zaquestion commented on #366
@yoctocell Sorry you're having issues getting going with lab.

The issue you're running into seems to be related to looking up your local git config. The particular call that's failing is a lookup the remote in your `.git/config`. If you want to paste that hear we can try and offer additional insights, otherwise there are a few scenarios:
Regarding which source remote lab will try to lookup.
1. If

[2020-09-18 00:37] zaquestion commented on #381
@mrbrownt Can you share the git config for this and verify what version of lab you're running? It's very weird that we'd return the error like that. The lookup in play is trying to determine the project path from the remote url.

Is `${BRANCH}` in this case referring to: `https://oauth2:${SERVICE_ACCOUNT_GITLAB_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git` ?

Just to be clear, the create usage is as b

[2020-09-18 00:46] zaquestion commented on #381
The git docs don't make this any clearer: https://git-scm.com/docs/git-config#Documentation/git-config.txt-branchltnamegtremote

But I did try this out locally and evidently you can set `branch.<name>.remote` directly to the remote url TIL

Changes to both `determineSourceRemote` and `git.PathWithNameSpace` will need to be made to support this.

[2020-09-18 09:54] zaquestion commented on #379
@l29ah would the same solution they used on hub be suitable for ya? I'm not sure if simply overriding `showSignature` on the `git show` call is ideal?

[2020-09-18 10:27] l29ah commented on #379
Yes it should be good.

[2020-09-18 22:20] zaquestion commented on #379
This is already in place for `git.Log` https://github.com/zaquestion/lab/blame/master/internal/git/git.go#L102

Just need to add `"log.showSignature=false",` to https://github.com/zaquestion/lab/blame/master/internal/git/git.go#L91

[2020-09-18 22:59] prarit opened #435 "Set any command's option in config file"
After the config rework in issue #415, it should be possible to allow the config file to have an override for any command option.

This issue is to track that work.

It's trivial: Just go through the options for the cobra commands, compare them to the values in the config file and use the config file value if it's different than the default.  This code would be placed in cmd/util.go for all comman

[2020-09-23 01:18] zaquestion commented on #304
Support can be improved by updating this logic for determining the forking scheme: https://github.com/zaquestion/lab/blob/4ebb574d55311e8d8497c48d18eacc98110f8b24/cmd/root.go#L247

[2020-09-23 12:37] yoctocell commented on #366
Sorry, forgot about this issue as I am no longer using gitlab.

[2020-09-23 20:46] #364 closed

[2020-09-24 18:09] #366 closed

[2020-09-25 14:44] #435 closed

[2020-09-25 21:04] bmeneguele opened #438 "hardcoded remote discovery for working tree commands"
There are situations where the clone or fork process isn't done via the lab tool, but the user wants to use it regardless, thus the remote being used by the user may not follow the pattern that the lab tool uses: `upstream`, `origin` or `lab.User()`.
[code]
However, some commands accept the `[remote]` positional arg:
[code]
Those commands that perform remote operations (based on the Gitlab library

[2020-09-25 21:04] prarit opened #439 "Add diff to commit comments in 'mr show' output"
I was hoping to display diffs, or a least the commit ID in a note made on a commit.  However, it seems like I can't get that information or at least go-gitlab doesn't provide it.

See

https://gitlab.com/bichon-project/bichon/-/issues/30

for details.

You can see this problem reproduced in lab with

[code]

[2020-09-26 00:25] zaquestion commented on #439
Tried this locally and I was able to see the position information. Of note, you'll only see position info on notes in discussions that are actually diff comments. In trying to fiddle with the output, I'm not sure how to actually get the diff chunk from what's returned tho. Hopefully your git-fu is better than mine, it seems like we'll have to do something like
[code]
`-U10` to get enough diff cont

[2020-09-26 01:05] zaquestion commented on #438
Bit of a brain dump... bare with me.

The primary purpose of `forkRemote` and `forkFromRemote` are to add the needed context for a few different types of scenarios, mostly around choosing the right default remote for a command:
1. Creating merge requests, in the absence of the branch being tracked, lab can make the assumption that you want to create a merge request from your fork to the original.

[2020-09-26 01:20] zaquestion commented on #438
I put up https://github.com/zaquestion/lab/pull/441/files to address the MR checkout issue, which I tested with a similar repo setup to what you showed here.

[2020-09-26 14:36] prarit commented on #439
OOOOOOOOOOOOOOOOOHHHHHHHHHHHHHHHHHHH :)

It's a *cumulative* diff, not the commit itself that gets commented on!

[2020-09-28 14:41] bmeneguele commented on #438
Just tested and it indeed works :). :+1:

That's one of the reasons I thought on removing it and use forkedFromRemote. Although I'm still confused by the code (where each are eactually used) I think I got the idea. One thing I didn't have in my mind, but after reading the issue #284 I realized is the fact the code is built with `origin|upstream|lab.User()` in mind... it wasn't meant to be generic

[2020-09-28 15:56] bmeneguele commented on #438
Unfortunately, that's not the case: `git remote` prompt remotes in alphabetical order. I agree that the first remote in the .git/config may be the best choice for the 'main remote', so I'm going to check a way of doing so and also check:

[2020-09-28 19:54] bmeneguele commented on #438
@zaquestion I've updated MR #440 with new patches for handling most of what we've talked about here.

[2020-09-29 14:18] prarit opened #443 "Use text/template where possible in code base"
From comments in https://github.com/zaquestion/lab/pull/437

@zaquestion recommends this as a change to the text input usage in lab.

This is the best reference in the repo most likely

https://github.com/zaquestion/lab/blob/fea5044402775b8777520f7dfcc03d0804a6ba1b/cmd/mr_create.go#L246-L295

[2020-09-30 23:14] zaquestion commented on #415
@prarit where did we land on this?

[2020-10-01 02:01] DubKF opened #445 "Namespace support for project creation"
Hi,
We are using namespaces and that's the reason I can't use lab at the moment as there is no way to pass on the parameter to the API. However it seems the git client the project relies on under the hood supports the [NamespaceId attribute](https://github.com/xanzy/go-gitlab/blob/master/projects.go#L468)

Would it be possible to support the extra attribute?

This would help with cases like mine,

[2020-10-01 05:53] zaquestion opened #446 "lab errors when run outside a git repo for commands where that's okay"
Provided the command isn't part of the skipinit logic, lab will error when run outside of a git repo. It's a pretty small set of commands that make any kind of sense outside of git repo to begin with so it's a low impact bug.

[code]

As far as impacted commands, at least some of the `snippet` and `project` operations are affected, I could be forgetting some other command trees that would be affec

[2020-10-01 13:32] bmeneguele commented on #446
Hmm.. interesting.. I'm going to take a look on that.

[2020-10-01 14:39] DubKF opened #447 "Documented completion for powershell not being generated"
According to the [readme line 118](https://github.com/zaquestion/lab/blob/master/README.md#L118)
lab should generate auto completion not only for bash / zsh, but also for **elvish, fish, powershell**

However, in the current version the powershell completion doesn't work any longer and it seems other shells apart from bash / zsh might also be affected.

[code]

Was the support simply dropped (pote

[2020-10-01 15:27] bmeneguele commented on #446
From my pov, ideally, the whole "remote discovery" code should happen only for commands running from within a valid repo dir, not only the "--local" error caused by the `git.go:GetLocalRemotesFromFile()`, since this error is masked by the go-gitlab lib for the other commands.

[2020-10-01 16:00] zaquestion commented on #445
Dupe of https://github.com/zaquestion/lab/issues/211 -- I've picked up the changes started there and put up https://github.com/zaquestion/lab/pull/450 It's still not working with subgroups, so I just need to figure that out.

[2020-10-01 16:49] zaquestion commented on #446
Good call, thanks for getting a fix it super quick ❤️

[2020-10-01 17:49] zaquestion commented on #447
Hi @DubKF, those shell completions exist, however they haven't been released yet. Apologies the readme itself can sometimes get out of sync with the latest release. The docs (https://zaquestion.github.io/lab/) and and cmd help text will always be accurate to the latest release fwiw.

Lot's of great stuff coming in `0.18`, we're actively adding more too it and hoping to get the release out soon. It

[2020-10-01 17:49] #447 closed

[2020-10-01 17:51] zaquestion commented on #445
Was able to get this working with #450, it currently depends on a change in `go-gitlab` being merged, once that's in we can bring this in. As mentioned in another issue, the `0.18` release may be a bit, so installing from source may be the best option to get this feature in the nearterm.

[2020-10-02 05:46] mrbrownt commented on #381
The workflow involved was on gitlab-ci, so it was a fresh clone.
The script I was running checked out a branch, added a commit and then directly pushed to origin with:
[code]
The main reason for doing said workflow is that ci tokens don't have push access so I'm using a personal access token, thus the magic of `--set-upstream`.

Doing this locally produced this config, which looks to match your re

[2020-10-02 08:52] SuperSandro2000 opened #454 "fatal error when checking out the same mr twice"
I have run twice ``lab mr checkout 112`` by accident and was greeted with the following fatal error:

[code]

I think this should be converted to a short message that you already have that MR checkout.

[code]

[2020-10-02 22:55] bmeneguele opened #456 "git: command failure when using <pushurl>"
Git allows the user to add a `<pushurl>` option to git-config to be used as the push-only URL, instead of the usual `<url>`, which is then left as the fetch-only URL. `lab` doesn't consider the user may be using `<pushurl>` and because of that commands like `lab mr create` fails to run while trying to find the branch in the project pointed by the "fetch" URL, in other words, `<url>`:
[code]
And fr

[2020-10-05 19:31] prarit opened #459 "'lab issue note' command fails with "{message: 404 Not found}""
'lab issue note' commands are failing with

[prarit@prarit kernel-test]$ ~/git-kernel/github/lab/lab issue note 1
2020/10/05 15:28:57 issue_note.go:56: POST https://gitlab.com/api/v4/projects/20544978/issues/1/notes: 404 {message: 404 Not found}

Bisect points me at:
[code]

[2020-10-05 19:51] prarit commented on #459
This could be a fault of mine for the weird way I have my remotes labelled.  I'll switch to the normal gitlab standard of prarit & upstream and see what happens.

[2020-10-05 19:58] prarit commented on #459
Yeah.  It's my fault.

P.

[2020-10-05 19:58] #459 closed

[2020-10-06 00:18] bmeneguele commented on #381
That's new to me too! Interesting finding... I'm going to dig on that and try to come up with a fix.
Thanks for the report @mrbrownt and for referencing it in the #457 PR @zaquestion .

[2020-10-09 10:09] rsteube commented on #406
Any progress on this? Can see some work for gitlab-ci on gitlab.com but seems the jobs still fail.

[2020-10-09 17:56] zaquestion commented on #406
Need to fix the tests on GitLab, which all broke when the config changes happened I believe, but https://github.com/zaquestion/lab/pull/455 should be enough for us to make the cutover once that's done. We'll probably need to poke @leipert on the actual GitLab issue, since I think over here is probably less visible for them https://gitlab.com/gitlab-org/gitlab/-/issues/14448

[2020-10-12 13:43] #439 closed

[2020-10-13 21:21] prarit opened #464 "Question: Is there a reason that the 'mr create' log is the way it is?"
@zaquestion , just curious.  Is there a reason that the comment in 'mr create' looks the way it does?

For example,

[code]

However 'git pull-request' outputs
[code]

Is there any reason that the log looks the way it does?  Or is it a 'just because'?

I'd like to change it so that it looks more like the output of git-pull request.  At a minimum I think adding a commented diffstat would be good to

[2020-10-13 23:37] fosterlynch opened #465 "Suggestion: README Edit"
I had an API token expire and whenever calling ```lab``` all I got was an error saying token is expired: there was no way to use any of the help commands.

After looking through the config documentation listed in this repo, it didn't seem like I had any environment variables set or any ```~/.config/lab...``` directories, as listed. However I did have a ```lab.hcl``` file which after manually chang

[2020-10-14 11:55] bmeneguele commented on #465
Hi @fosterlynch ,

are you using which version of the lab tool? The version 0.17.2 indeed has this issue of API token being required even to issue "lab --help|--version", however it was already fixed alongside many other fixes and changes regarding config management in the current master branch (that's also the reason you don't see anything about the .hcl file in the README file anymore). All thes

[2020-10-14 12:28] prarit commented on #464
The more I look at this the more I think I'd do a combination of the two.

I would be good to have

# 85e7098a84f6 (Prarit Bhargava, 10 minutes ago)
#    Makefile change
#
# 46f99955f7af (Prarit Bhargava, 27 hours ago)
#    Prarit's USB Change
#
# Makefile                  | 2 +-
# drivers/usb/core/buffer.c | 2 ++
# 2 files changed, 3 insertions(+), 1 deletion(-)

The benefit is that users could u

[2020-10-14 14:23] bmeneguele opened #466 "Add pushRemote and pushDefault for source remote"
git-config(1) mentions two options that 'lab' could use for determining the source remote of a certain repository in addition to (1) `branch.<name>.remote`, they are: (2) `remote.pushDefault` and (3) `branch.<name>.pushRemote`. These three options obay the following precedence order: (3) > (2) > (1).

Enabling these options help those users that don't have a tracking remote for every branch, but u

[2020-10-14 17:54] zaquestion commented on #464
`mr create`'s commented changelog used to match what hubs looked like. These days it looks like they've simplified the format. Personally I sorta liked having all the details, but I'm open to changes. Your latest comment on here looks appealing :+1:

[2020-10-14 18:02] fosterlynch commented on #465
Ah yes, just looked and I am indeed on 0.17.2.  Thank you for the clarification!

[2020-10-14 18:02] #465 closed

[2020-10-14 18:03] zaquestion commented on #465
Yeah confusing is probably from the readme showing information for the next release of lab instead of the latest `0.17.2` release. Usually we wouldn't go this long between releases

[2020-10-15 19:07] zaquestion commented on #464
https://github.com/zaquestion/lab/pull/469

[2020-10-26 08:00] davinkevin opened #471 "fix(ci): view is horizontally reversed"
Following a recent upgrade of GitLab (13.5 I think), the result of the `lab ci view` command is totally reversed, on **right to left** axis.

![image](https://user-images.githubusercontent.com/1970922/97146877-e58a0f00-1768-11eb-9b18-4bfa51923c2f.png)

![image](https://user-images.githubusercontent.com/1970922/97146927-f8044880-1768-11eb-9006-3a313d40a287.png)

Last time I use it was on friday, an

[2020-10-27 14:44] mircohaug opened #472 "Update the configured token"
For the initial configuration by typing `lab` in a shell, I used a token with insufficient permissions. I want to update this token but I do not know how to do this. I did not find a configuration file at any of the paths mentioned in the docs. I did find an entry in the systems key ring but changing or deleting the saved value had no effect. Reinstalling via brew also did not reset the configurat

[2020-10-27 14:46] prarit commented on #472
Thanks for the report @mircohaug .  Can I ask what paths you looked at for the config files?  I can give you instructions on how to update, however, I'm more concerned that the documentation may be lacking.

[2020-10-27 14:47] prarit commented on #464
Resolved in #469

[2020-10-27 14:47] #464 closed

[2020-10-27 19:36] prarit commented on #419
After re-working the configs I'm not sure this is necessary.  It falls into the nice-to-have category but I don't see an explicit need for anything outside of the config code to use the config information.

[2020-10-27 19:36] #419 closed

[2020-10-27 19:38] prarit commented on #418
This was resolved in mr #437

[2020-10-27 19:38] #418 closed

[2020-10-27 19:41] prarit commented on #374
Looks like this was resolved in #421

[2020-10-27 19:41] #374 closed

[2020-10-28 04:47] zaquestion commented on #471
@davinkevin i believe this is fixed in main, i remember a test breaking... ill prioritize getting a release out after halloween, im moving atm and my whole life is packed up 😅

[2020-10-28 04:53] zaquestion commented on #472
This is likely a drift between the current readme and latest `0.17.2` release which still points to `~/.config/lab.hcl` instead of `~/.config/lab.toml`

[2020-10-28 14:12] prarit opened #474 "3+ hour travis-ci.org delays: Solution is to migrate to travis-ci.com"
@zaquestion ,

There are now long delays on travis-ci.org.  I migrated in about 2-3 mins last night.  Not sure if you have done the same but the tests on lab are still being run against travis-ci.org.  Is there any chance you could migrate lab?

https://docs.travis-ci.com/user/migrate/open-source-repository-migration/

P.

[2020-10-28 21:16] prarit commented on #472
@mircohaug, if you're using 0.17.2 then it's likely that as @zaquestion says you're looking at ~/.config/lab.hcl.  You can look in ~/.config/lab/lab.toml for the token.

[2020-10-28 23:03] #454 closed

[2020-10-28 23:12] prarit commented on #316
@flaub , I know this is a very late response.  This functionality exists in the current lab git tree as

`
lab mr edit <mr_id> --label <label_name>`

and
`
lab mr edit <mr_id> --unlabel <label_name>`

[2020-10-28 23:12] #316 closed

[2020-10-28 23:18] prarit commented on #315
This functionality exists in the latest git tree.

`
lab mr list --mine`

or
`
lab mr list --assignee prarit`

[2020-10-28 23:18] #315 closed

[2020-10-28 23:26] #373 closed

[2020-10-28 23:46] prarit commented on #304
I think we can safely close this given the changes in #391 .

[2020-10-28 23:46] #304 closed

[2020-10-28 23:48] prarit commented on #376
Since #431 was merged I think this can be closed.

[2020-10-28 23:48] #376 closed

[2020-10-28 23:48] prarit commented on #292
@luisdavim is this still an issue?

[2020-10-28 23:52] prarit commented on #146
@zaquestion looks like this can be closed?

[2020-10-29 08:51] mircohaug commented on #472
@zaquestion was right the config file `lab.hcl` exists and contains the values.
[code]
I was looking at `~/.config/lab/lab.toml` the env var `LAB_CORE_TOKEN` and locally in `.git/lab/lab.toml`

[2020-10-29 08:51] #472 closed

[2020-10-29 12:11] kreig303 commented on #146
@prarit idk... let me see if this works now?

[2020-10-29 12:49] prarit commented on #146
@kreig303 thanks for the quick test!

[2020-10-29 12:49] #146 closed

[2020-10-29 16:21] prarit commented on #426
This can be closed based on the above merge.

[2020-10-29 16:22] prarit commented on #424
This can be closed based on the above merge.

[2020-10-29 16:22] #424 closed

[2020-10-29 16:22] #426 closed

[2020-10-29 16:22] prarit commented on #446
This can be closed based on the above merge.

[2020-10-29 16:22] #446 closed

[2020-10-29 16:23] prarit commented on #456
This can be closed based on the above merge.

[2020-10-29 16:23] #456 closed

[2020-10-29 16:40] bmeneguele commented on #438
Considering the MR #440 and others that landed after we can close this issue.

[2020-10-29 16:40] #438 closed

[2020-10-29 16:41] bmeneguele commented on #466
Considering MR #467 was already merged we can close it.

[2020-10-29 16:41] #466 closed

[2020-10-30 01:41] eedgar commented on #345
We also have the same issue.

[2020-10-30 02:04] eedgar commented on #345
https://github.com/zaquestion/lab/pull/477

[2020-10-30 16:57] davinkevin commented on #471
No problem, it's a bit strange to have this behavior but I will wait until you unpack everything.

BTW, moving IRL and from GitHub to GitLab in parallel is funny 😇

[2020-11-02 13:37] #204 closed

[2020-11-02 18:16] prarit commented on #292
I'm going with "this is no longer a problem" :).  Please reopen if this is still an issue.

[2020-11-02 18:16] #292 closed

[2020-11-02 19:28] prarit commented on #379
@l29ah , could you try the latest tree?  I think this should be resolved as "log.showSignature=false" has been added to the internal git Log() function.

[2020-11-03 00:11] zaquestion commented on #474
I think it should be migrated now. Longer term will all be gitlab obviously #406

[2020-11-03 13:48] prarit commented on #474
Thanks.  As an additional annoyance I now realize I've added an extra mouse click in order to get build results. :(

[2020-11-03 13:48] #474 closed

[2020-11-03 14:31] bmeneguele opened #480 "remove "git --help" output from lab's"
Presenting the entire `git --help` output alongside `lab --help` is confusing.
IMO it would be better/cleaner to only point users to git manpage and let them know that `lab` wraps `git` commands just fine.
I know in the code is mentioned the intention to remove the wrapping code, but I think we can start by removing the --help output.
https://github.com/zaquestion/lab/blob/2506ed7e6a261e64ec3bc7c3

[2020-11-09 12:01] galan commented on #471
Also affected. Waiting for release since https://github.com/zaquestion/lab/issues/410 . None of the checkboxes is checked since then on https://github.com/zaquestion/lab/issues/406 .

Would be creating a last intermediate release an option to fix this and have the latest changes available (that would fit your packed timetable)? Thanks for the great tool.

[2020-11-10 14:45] bmeneguele opened #488 "fork: allow user to set name and path"
When the fork is issued from the API it's possible to the user to set a different name (to avoid conflict) and also a different path (besides the user's own namespace) to fork the project.

It's useful for workflows that inside a group each user has it's own namespace, e.g.:
`gitlab.com/company/devops/users/joe`
`gitlab.com/company/devel/users/brian`
...
while they still have their own personal na

[2020-11-11 04:00] huhuang03 opened #490 "build failed by `undefined: gitlab.ListDescendantGroupsOptions` on branch projectgroups"
I want use your create group feature https://github.com/zaquestion/lab/pull/450.

But when I run `go build` on branch `projectgroups`. The error throws:

[code]

I can't figure out how to resolve this..

[2020-11-11 15:23] bmeneguele commented on #490
Hi @huhuang03,

This branch/merge request is outdated wrt go-gitlab version that contains the `Groups.ListDescendantGroups` support.
Try to change the following line:

https://github.com/zaquestion/lab/blob/62523a3a712276b9a532e2ce92418a3dc6a7c476/go.mod#L25

to point to version `0.38.2` instead.

[2020-11-12 13:49] bmeneguele commented on #480
Issue solved by MR #487

[2020-11-12 13:49] #480 closed

[2020-11-18 01:55] zaquestion commented on #292
Yeah, I believe we've addressed various slowdown cases resulting from aliasing at this point.

[2020-11-18 06:24] davinkevin commented on #471
For your information @galan , this is pretty simple to build a version for your OS. Checkout the code, modify the `MAKEFILE` to include your os/arch and `make install`.

I've tested it, but the `ci view` is still reversed and it totally crash after launching this command 😓. I'll go back to the previous version…

[2020-11-18 13:11] #332 closed

[2020-11-23 15:25] prarit opened #498 "Create additional gitlab lab test project for 'issue move'"
@zaquestion , I've added an 'issue move' command that allows users to move issues from one project to another.  I did not add tests as I need another project to target.  Is there any chance you could create a second test project that I could use?

Thanks :)

[2020-11-23 15:28] prarit commented on #498
https://github.com/zaquestion/lab/pull/497

[2020-11-23 20:00] prarit commented on #498
I wonder if you could open up permissions on https://gitlab.com/lab-testing/test ?

[2020-11-28 16:44] jkleckner opened #505 "Add support for list/get/put of ci variables"
Please consider support for being able to list, get, and put CI variables.

I have started weaving `lab` more and more into some scripting and this is a tedious task that I often face and dropping down into `curl` is so much less satisfying.  I love `lab`, thank you.

[2020-11-30 18:06] prarit commented on #379
Closing for now.  @l29ah if you still have a problem please reopen this issue.

[2020-11-30 18:06] #379 closed

[2020-12-02 13:00] bmeneguele commented on #345
It's now solved.
However, the default protocol still is SSH. For using HTTP call the command with `--http`.

[2020-12-02 13:00] #345 closed

[2020-12-02 15:43] prarit commented on #338
No answer to @zaquestion request for feedback on #380.  Closing this out.

[2020-12-02 15:43] #338 closed

[2020-12-09 09:57] Preisschild opened #517 "Add support for child pipelines"
Currently [Gitlab Child Pipelines](https://docs.gitlab.com/ee/ci/parent_child_pipelines.html) are not displayed in `lab ci` commands.

It would be a good addition if lab could visually represent child pipelines

[2020-12-10 14:34] #360 closed

[2020-12-10 14:57] bmeneguele opened #519 "MR comments printing bash color chars to stdout"
Issuing `lab mr show <mr-iid> --comments` ignores what is the stdout file descriptor and prints all color control chars for a normal bash terminal:
[code]
It should first check if the stdout is indeed a terminal, from C: `istty()`, before printing any colored char.

[2020-12-11 14:47] #519 closed

[2020-12-13 20:52] #471 closed

[2020-12-15 04:41] koshyviv opened #530 "Couldn't create merge request, Cannot read property 'green' of undefined"
I'm getting this issue whenever i try to create a MR, I'm really not sure what is going on and couldn't find anything similar posted previously. Can someone please help

[code]

[2020-12-21 01:38] Atralb commented on #406
What about now ? Is the migration still planned as before ?

[2020-12-21 12:43] prarit commented on #445
Based on @zaquestion 's response I'm closing this out.

[2020-12-21 12:43] #445 closed

[2020-12-21 22:22] zaquestion commented on #406
@Atralb I need to reengage the folks at GitLab, to get this actually moving again, which I'm planning to do in the new year. That said, I'm planning to sort out the `0.18.0` release without migrating and hoping to have that out next week.

[2020-12-22 07:50] kiesel opened #538 "lab ci view does not react to key input"
I have built the latest git version (fd0096293383eb736ab7431dc0a1e2d2f2144f29); when I run `lab ci view`, the pipeline shows up in the overview.

Key input, however, does not show any action. I have to use a different shell to `killall lab` to quit. I use it with alacritty, TERM=xterm-color256, but also tested xterm & TERM=xterm - no change.

[2020-12-22 13:44] #488 closed

[2020-12-22 13:51] bmeneguele commented on #498
@prarit , I've created the project https://gitlab.com/lab-testing/test_1 , does that is enough for testing or does it need some other change (e.g. repo specific config)?

[2020-12-22 14:01] prarit commented on #498
I think that's fine but you'll have to filter out emails for that project.  Everytime someone does a build you'll get email.  You might want to give it a more descriptive project name like "FILTER_THIS_OUT_TEST_1" or something.  Go on, ask me how I know :)

[2020-12-22 14:07] bmeneguele commented on #498
But the project is under lab-testing and only those really "following" the project will receive the email notification, isn't it?

[2020-12-22 19:12] bmeneguele commented on #490
This issue should be solved by the current state of the pull request.

[2020-12-22 19:12] #490 closed

[2020-12-22 21:54] zaquestion commented on #498
@prarit @bmeneguele Need any thing from me on this? Looks Like Bruno might have got it sorted?

Sorry for the late reply I'm a bit underwater with lab stuff... If you're blocked on me in the future don't hesitate to email me directly at zaquestion@gmail.com

I'll work on getting the `0.18.0` release out next week as well.

[2020-12-23 13:52] #538 closed

[2020-12-23 14:29] stemid opened #544 "Socks proxy support?"
Will there ever be socks proxy support?

I tried using export https_proxy=socks5:// with my tunnel that I use with glab, but it can't connect. So I assume it has no such support.

I really like the pipeline view in lab much better than glab. But I can't use it with our on-prem Gitlab which is behind an SSH tunnel at work.

[2020-12-23 16:24] bmeneguele commented on #544
I'm not really familiar with `https_proxy` behavior and never really tested it with `lab`. It doesn't change the remote URL at all, right?
Could you retry but using http.proxy git-config option instead?

`$ git config --local http.proxy socks5://...`

I believe the URL should follow the same as the one you through in `https_proxy`.
It's also possible to set per-remote: use `remote.<name>.proxy` in

[2020-12-23 16:57] stemid commented on #544
Thanks @bmeneguele

No `git config --local http.proxy socks5://..` didn't help with lab. If I run `lab ci --help` it hangs for a few minutes. I can't see a verbose option but eventually it exits with: Error: User authentication failed.  This is likely due to a misconfigured Personal Access Token.  Verify the token or token_load config settings before attemping to authenticate.

I've setup the same

[2020-12-24 16:12] fmuellner commented on #530
It sounds like you picked the "wrong" lab. Neither the command line options nor the error messages match the code in this project.

Maybe the `--help` or `--version` flags provide some information to identify the correct project?

[2020-12-28 14:16] bmeneguele commented on #544
Hmm, yeah.. it would help only for normal `git` commands, like `lab clone` which is a wrapper for `git clone`.
I'm going to investigate it. However, unfortunately, I don't have an environment for testing it. If you're willing to help with some coding... any help is welcome :D.

But anyway, I'll take a look.

[2020-12-28 14:52] bmeneguele commented on #544
At the same time, it should be already supported, since the env vars are being considered:

https://github.com/zaquestion/lab/blob/2e20fc0459551f63edb3d104289e2d433216a057/internal/gitlab/gitlab.go#L86-L103

[code]
Reference: https://golang.org/pkg/net/http/#ProxyFromEnvironment

[2020-12-29 09:47] leipert commented on #406
Hey folks! Sorry for the long time with no movement. I was on a long leave until just before the holidays (👶 🥳). Let's pick this up in the new year. I will figure out what stuff that we need from you @zaquestion, I think some access to some projects was missing, but otherwise we should be good to go 😄

[2020-12-29 13:41] prarit commented on #406
Hey @leipert , I think @zaquestion was planning on releasing 0.18 this week.  @zaquestion ,what do you think of creating a 0.19 release that *only* had this issue in it?  ie) all 0.19 would be is the move to GitLab?  I know in some ways it would be a throwaway release but I think that being able to point to a specific release would be good for future debugging and testing.

[2021-01-01 16:42] counterbeing commented on #544
I have a couple of notes on this.

1. I had this working about a year ago with something like this: `alias lab="https_proxy=socks5h://localhost:8118 lab"`
2. I can successfully curl the user endpoint like so: `curl --include -x socks5h://localhost:8118 https://git.myco/api/v4/user\?private_token\=<my-access-token>`
3. The CA file is installed on my system so curl doesn't need it. Even so I tried t

[2021-01-01 17:17] counterbeing commented on #544
I've confirmed that lab v0.15.3 works with socks5 proxy.  I'm doing a git bisect to see where the problem occurred. I'll keep you posted.

[2021-01-01 17:20] counterbeing commented on #544
01e4354c3d4aba0c2d849da71983789a6f6ab154 is the first bad commit
commit 01e4354c3d4aba0c2d849da71983789a6f6ab154
Author: Zaq? Wiedmann <zaquestion@gmail.com>
Date:   Mon Dec 16 14:55:52 2019 -0800

    Set TLS skip verify when getting user

    Also quick fix to skip user lookup when set to avoid the net call

 internal/gitlab/gitlab.go | 10 ++--------
 main.go                   | 45 +++++++++++++

[2021-01-01 17:25] counterbeing commented on #544
So, the latest release that still works is v0.17.1

For now, I'm just going to use that as I'm not really sure what went wrong. @zaquestion Maybe you have some idea as you wrote the code? Thanks for the great library, so nice being able to spin up a new project without jumping through hoops in the UI!

[2021-01-01 20:13] stemid commented on #544
I'm using lab git version 2.28.0.

Using https_proxy works with glab, same repo, but not with lab. I also use this socks5 proxy for other things like kubectl, they all work.

That's why I created the issue, because I'm only seeing lab not working with this socks tunnel that I use for multiple things.

With lab it hangs for a very long time, several minutes. I abort it because I don't want to wait.

[2021-01-02 02:43] counterbeing commented on #544
@stemid just curious, does it work for you with the previous release?

[2021-01-04 07:50] davinkevin commented on #406
FYI, I would love to see a new version released, especially to fix some bugs.

But, for information, I've tried to built `master` for macOS, and the application crash at when displaying a pipeline… I have the "screen" but then it doesn't respond and have to be killed with a `pkill` command.

So, it could be cool to check this is working in other OS before doing a release because it can be worse fo

[2021-01-04 14:04] bmeneguele commented on #544
@counterbeing tyvm for the bisect info! It's indeed really helpful.
Could you both test the latest version but using the additional config option:
[code]
?

[2021-01-05 13:42] bmeneguele opened #553 "new project code layout"
In #552 I've started a change to help separate common code/data for different commands from code command-specific. However, this is the first step, where common code was placed in a simple *_common.go file. The project is growing somewhat quick and having a better project structure would be really helpful and important to keep developers/contributors sane :).

The repo https://github.com/golang-st

[2021-01-05 14:00] davinkevin commented on #471
BTW, there is still some problem with job relauched… they end up at the end of the graph and don't keep the same position.

Would you like me to open another issue ?

/cc @fmuellner && @zaquestion

[2021-01-05 14:08] fmuellner commented on #471
I've seen that as well - both before and after the fix, so it's a separate issue.

Not sure there's an easy fix though, I didn't find any API for getting stages in order (or at all), only through jobs.

[2021-01-05 18:33] zaquestion opened #554 "windows build error blocking 0.18.0 release"
https://www.travis-ci.com/github/zaquestion/lab/builds/212062231
[code]

After we fix this, just need to recreate the `v0.18.0` release and travis should roll it out. cc @bmeneguele @prarit

[2021-01-05 18:36] bmeneguele commented on #554
Oh! That's on me. Didn't know the syscall lib would change the return type there for Windows.
I'm going to solve it ASAP.

[2021-01-05 18:54] prarit commented on #553
Would there be a top-level common.go as well for code that applies to both commands?

[2021-01-05 19:11] bmeneguele commented on #553
Yes, there would/could also have something like that.
Another thing would be to split `cmd/util.go` in specific files like: `cmd/args.go` to handle argument parsing, `internal/util.go` to place those functions not really related to the commands (e.g. `isOutputTerminal()`).

[2021-01-05 19:13] #554 closed

[2021-01-05 19:14] bmeneguele commented on #554
@zaquestion just merged the fix.
Feel free to go ahead and recreate the release.

[2021-01-05 20:58] zaquestion commented on #406
Released `0.18.0`, which doesn't change anything for this effort other than the first GitLab release being a higher version number.

[2021-01-06 15:54] davinkevin commented on #406
Installed and working, 👍

[2021-01-06 15:57] davinkevin opened #556 "fix(ci): job relaunched are positioned at the end of the pipeline"
Following https://github.com/zaquestion/lab/issues/471, another problem occurs in the same time.

The order is now correct in the `ci` view, but if I restart a failed job, the job is inserted at the end of the pipeline.

[2021-01-07 05:33] chenrui333 opened #558 "lab 0.18.0 behavior change"
👋  looks like the lab 0.18.0 behavior got changed (it requires the gitlab PAT before proceeding to do something meaningful) and now the test started not working.

[code]

Interesting enough, I found the similar [test code](https://github.com/zaquestion/lab/blob/0ff2ff02b4ecffbbeb1f695556486d104d30f56e/.goreleaser.yml#L20-L25) in the codebase. Not sure if some real test token was used in the gorele

[2021-01-07 14:44] bmeneguele commented on #558
Hi @chenrui333 , thanks for opening this issue.
I'll take a look on it and also make sure we have a test for catching it earlier.
Sorry for the incovinience.

[2021-01-07 14:55] chenrui333 commented on #558
no worries, thanks for picking this up.

[2021-01-09 18:05] chenrui333 commented on #558
Any updates?

[2021-01-09 18:11] bmeneguele commented on #558
Not yet, sorry.
Didn't have time to look at it :( but I'll give my word I'll take care of it early next week (Monday).

[2021-01-11 13:29] prarit commented on #558
@bmeneguele @chenrui333 :  I think I have a solution.  Will update in a minute.

[2021-01-11 15:46] bmeneguele commented on #558
@prarit thanks for the help :) didn't have time to get a closer look at it.
One thing I noticed is that `lab -h` and `lab --help` have different behaviors too: the first requires API auth, while the last doesnt.
But I think it's something for another issue.

[2021-01-11 15:54] prarit commented on #558
I think it has something to do with the way we're wrapping 'git'.  'lab -h' outputs the git help, while 'lab --help' outputs lab's help.

[2021-01-11 15:59] chenrui333 commented on #558
much better than last time
[code]

[2021-01-11 16:46] prarit commented on #558
Thanks @chenrui333, I've added one additonal change.  Can you do another test on #559 ?

[2021-01-11 17:01] bmeneguele commented on #558
Yes, it is. Last time I changed the code I didn't notice the diff. I'm going to review it.

[2021-01-11 19:12] chenrui333 commented on #558
Close as it is resolved. Thanks @prarit @bmeneguele!

[2021-01-11 19:12] #558 closed

[2021-01-13 20:52] damoon opened #562 "nil pointer since 0.18.0"
After updating from 0.17.2 to 0.18.0 creating a merge request triggers a nil pointer.

[code]

[2021-01-13 23:59] prarit commented on #562
@damoon I'm unable to reproduce this.  Were you executing a specific command?

[2021-01-14 00:02] #232 closed

[2021-01-15 00:17] fmuellner commented on #556
I'm not sure this is fixable.

There is code to replace old jobs with restarted ones, but in my testing gitlab now only includes the most recent jobs in the listing, so this no longer works.

It should be possible to do slightly better by making sure that all jobs from the same stage are grouped together, but as we don't know the expected order of the stages, it's possible that we then mess up tha

[2021-01-15 00:24] fmuellner commented on #370
#549 added support for milestones, including the ability to filter issues/merge-requests by milestone.

[2021-01-15 07:21] mmngreco commented on #370
Nice, that's amazing!

It's present in the last release? if so, how can I use it ? I've update lab but I could'n find anything in the documentation.

[2021-01-15 11:39] aktriver commented on #562
I got the same error on Gitlab CI Docker runner (alpine:3.13).

[code]

In the same job, alpine:3.12(with lab 0.17.2) works fine.

[2021-01-15 13:09] fmuellner commented on #370
No, it only landed after v0.18.0

[2021-01-15 19:19] prarit commented on #562
Odd, it WFM:

[prarit@prarit kernel-test (lab_test)]$ lab mr create --assignee prarit --remove-source-branch --message "Message"
https://gitlab.com/redhat/rhel/kernel/8.y/kernel-test/-/merge_requests/284/diffs
[prarit@prarit kernel-test (lab_test)]$

Can you update 'go', rebuild lab, and try again?

[2021-01-15 19:39] ehabkost opened #563 "`lab fork` doesn't work with any remote except `origin`"
I'm not able to create a fork for a repository whose origin is not at gitlab (but has another remote pointing to a gitlab repository).

[code]

Maybe I'm doing something wrong, but `lab fork --help` doesn't explain what's the correct format of `upstream-to-fork`.

If I create a new local clone from scratch, it works:

[code]

Version information:

[code]

[2021-01-15 19:50] ehabkost commented on #563
Same problem reproduced after updating to latest version of lab from the git repository (version `v0.18.0-15-gb0e4163`).

[2021-01-17 02:33] fmuellner commented on #563
Could you please try whether `lab fork qemu` works after applying #564?

[2021-01-18 02:47] jackmac92 opened #566 "Prompted for auth even with LAB_CORE_TOKEN set"
Hey minor bug/inconsistency with the README

I've used this cli for a while, and I've always just used LAB_CORE_TOKEN for auth. After updating, and running `lab repo browse`, I was prompted to create a personal access token.

[code]

I was a little confused because my token hasn't expired yet. After entering a token at the prompt, it creates the config file, and now everything works as expected (i

[2021-01-18 16:54] ehabkost commented on #563
I confirm that `lab fork qemu` works with #564.

[2021-01-18 21:20] fmuellner commented on #566
Duplicate of #558

[2021-01-19 20:52] darcari opened #571 "using 'lab mr edit' to update the commit message for the MR does not generate any email"
I can see that the MR was in fact update, but no one was notified.

[2021-01-19 22:30] fmuellner commented on #571
That's a gitlab issue, not lab.

At least with the gitlab versions I've been working with, there's no notification when updating a MR subject, neither via the API nor the web UI.

[2021-01-20 09:16] mfriedenhagen commented on #358
When I change and use a black background and white letters, it looks better but Maven's `[INFO]` log-level is missing as well when running `lab ci view`
![image](https://user-images.githubusercontent.com/125281/105152563-a9680f80-5b07-11eb-991f-6e69bfb5c092.png)

When using `lab ci trace` for the same job the output looks like this:
![image](https://user-images.githubusercontent.com/125281/1051531

[2021-01-20 12:52] darcari commented on #571
OK - Thanks.

[2021-01-20 12:52] #571 closed

[2021-01-20 13:38] prarit commented on #571
Sorry @darcari  I meant file a ticket on the kernel repo so we can track it.

[2021-01-21 17:43] prarit opened #573 "lab: mr_approve test failures"
Need to look at these failures: https://travis-ci.com/github/zaquestion/lab/builds/213947699

@bmeneguele any ideas?  I'll take a closer look too.

[2021-01-22 12:58] aktriver commented on #562
I used this prebuilt package.
https://pkgs.alpinelinux.org/packages?name=lab&branch=v3.13&repo=community&arch=x86_64

I tried to find a way to reproduce the issue, but I couldn't.
I ran a similar command in three environments.

| environment | lab v0.18.0 |
| --- | --- |
| Local Mac (Homebrew package) | created MR successfully |
| alpine:3.13 on Docker on Local Mac | created MR successfully |
| al

[2021-01-22 18:44] #563 closed

[2021-01-22 21:56] damoon commented on #562
for me it failed during use within a gitlab job https://gitlab.com/utopia-planitia/exocomp/-/jobs/946240210

[2021-01-24 06:06] aktriver commented on #562
I was able to reproduce the problem without creating an MR.
I think this is related to #566.

[code]

[2021-01-24 19:51] zaquestion commented on #566
@jackmac92 I've released a new version of `lab` `v0.19.0` with the fix from #558, please let us know if you're still seeing this issue.

[2021-01-24 19:51] #566 closed

[2021-01-24 19:52] zaquestion commented on #562
@damoon @aktriver I've released `v0.19.0` with the fixes from #566 -- can you confirm if this is still an issue?

[2021-01-24 20:18] zaquestion commented on #553
@bmeneguele @prarit Consider either of these restructures "blessed" :)

I do see a potential cyclic imports issue in the later suggestion which I'm not sure how kubernetes works around (@bmeneguele can you point to where you saw this pattern exactly)

Not sure how you get around
`issue.go`
[code]
`cmd/list.go`
[code]

Additionally each command will be importing a `cmd` package, which could get a t

[2021-01-24 23:08] profclems opened #577 "[Discussion] Code sharing between glab and lab?"
I am the maintainer of [`glab`](https://github.com/profclems/glab), an opinionated open source GitLab CLI tool.

Though the tool is heavily inspired by [`gh`](https://github.com/cli/cli), we can't deny the fact that some `glab` commands were adopted from `lab`.
Most especially, commands related to `ci` such as `ci view` and `ci trace` were heavily inspired by `lab`, which I initially failed to pro

[2021-01-24 23:09] profclems commented on #577
/cc @zaquestion

[2021-01-25 19:29] zaquestion commented on #556
For reference here's the code that originally addressed this by picking the latest versions of jobs

https://github.com/zaquestion/lab/blob/master/cmd/ci_view.go#L604-L630

cc: @profclems this is probably an issue for y'all too

[2021-01-25 23:50] #577 closed

[2021-01-26 00:44] zaquestion commented on #530
@profclems is this one of yours?

[2021-01-26 00:52] zaquestion commented on #577
This is welcome to remain open, I haven't had a chance to respond but we'll be in touch either way :D

[2021-01-26 05:02] aktriver commented on #562
@zaquestion It still fails ...

I'm sorry. My expectation may have been wrong.
This is the minimum `.gitlab-ci.yml` that reproduces the problem.

[code]

[code]

[2021-01-26 10:50] profclems commented on #530
I don't think so. None of the error messages and logs matches any part of our code.

[2021-01-26 12:30] koshyviv commented on #530
This was an issue with the wrong reference of `lab`. Sorry for the delay.

[2021-01-26 12:30] #530 closed

[2021-01-28 03:12] counterbeing commented on #544
@bmeneguele I apologies, I saw this a while ago and forgot about it. Here's what I tried:

1. I am using the latest on master.
2. This is how my config toml looks.

[code]

This still fails

[code]

[2021-01-29 06:48] mmngreco commented on #370
I saw the new release of lab in github so I could try this argument and it works pretty well, thank you for your support!

[2021-01-29 06:48] #370 closed

[2021-02-03 13:35] bmeneguele commented on #573
@prarit Thanks for looking into it.
The major issue I see with the tests is when a new MR or an issue is added changing the expected string required by another test.

One option I thought about was to make the changes in CI time, letting the test code pointing to a generic string, i.e. "{LATEST_MERGEREQUEST}", "{FIRST_ISSUE}", ..., and during CI it's `sed`'ed to the real value got from an API quer

[2021-02-03 13:44] bmeneguele commented on #553
@zaquestion sorry for the late reply.
But your concerns are indeed something to look at. To be honest, I didn't really dig deep enough on how Kubernetes structure/use it to avoid such issues. This example I took from their [kubeadm](https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm) command.

Initially, I'm far more comfortable working with the first approach than the second, which

[2021-02-08 15:25] jbenc opened #580 "Cannot filter MRs using some labels"
[code]

The error message is misleading (which would be worth fixing, too), it's not a problem with my token. Other queries work fine.

The problem is that in the same project, there is also a Subsystem:netdrv label. It seems that -l matches on any prefix of the label. This makes it impossible to filter on Subsystem:net.

[2021-02-08 16:00] prarit commented on #580
This should be fixable.  We've probably just been lazy about exact matches ;)

[2021-02-08 16:24] bmeneguele commented on #580
Hey @jbenc,

I've created a PR for fixing both points you mentioned:
1. the config error message
2. label matching code

With the new code, you should be **informed** about the ambiguity of that specific label, but not receive an error. And the exact match prevails.

[2021-02-08 16:30] prarit commented on #580
@bmeneguele see my comment in the MR.  It's possible that I'm doing it wrong but I can't seem to get -x to work.

[2021-02-08 17:07] bmeneguele commented on #580
Just replied there. You used `-x` (exact match for searching terms) instead of `-l`.

[2021-02-10 16:05] prarit opened #582 "approve and unapprove message failures can be better"
When I attempt to approve or unapprove on a Project that I don't have approve permissions for, I get the following error:

2021/02/10 10:58:17 mr_approve.go:56: POST https://gitlab.com/api/v4/projects/XXXX/merge_requests/208/approve: 403 {message: 403 Forbidden}

It would be good to provide some better error messaging.

And, yes, I already have a patch :)

[2021-02-10 16:39] prarit commented on #573
I've solved this with 8c6eec143447 ("mr approve: Fix unapprove test failures")

[2021-02-10 16:39] #573 closed

[2021-02-10 18:51] #580 closed

[2021-02-11 12:41] bmeneguele commented on #425
Closing issue based on the PR already merged.

[2021-02-11 12:41] #425 closed

[2021-02-11 12:42] bmeneguele commented on #582
Closing issue based on the PR already merged.

[2021-02-11 12:42] #582 closed

[2021-02-11 12:48] bmeneguele commented on #347
Closing issue based on the feedback and issue date.

[2021-02-11 12:48] #347 closed

[2021-02-11 13:36] bmeneguele opened #587 "panic: runtime error: slice bounds out of range [:4] with length 0"
When one create a MR passing `--cover-letter` the text editor is opened to allow the one to write a description message.
When the file is saved and closed no content it prints the message: `2021/02/11 10:32:35 mr_create.go:243: aborting MR due to empty MR msg`, which is fine and correct.

However, if the user also passes `--draft` and save&close and empty file:
[code]

I'm going to take a look at

[2021-02-11 19:30] bmeneguele opened #589 "ImportStatus API calls seems to fail some times"
It's not always that I see this error, but in PR #586, a simple doc change, failed during the testing phase due to an, apparently, API call failure not properly handled by `lab`.
[code]

Unfortunately, I wasn't able to reproduce the issue, but from a quick investigation, I noticed that the check for a fork status is not being checked in case an error is returned.

https://github.com/zaquestion/lab

[2021-02-12 10:08] MartinDelille commented on #337
I reproduced with another error message:

[code]

(lab version: 0.19.0)

[2021-02-12 23:19] #589 closed

[2021-02-13 00:05] #587 closed

[2021-02-15 10:08] mfriedenhagen commented on #337
@MartinDelille I do not think this is the same issue. We have two inhouse gitlab-instances, one running 13.8.4, where I get above message even for projects without any includes and the other 13.7.6 where this still works fine.

[2021-02-15 10:18] mfriedenhagen opened #591 "ci/lint needs authentication since GitLab 13.8.4"
I recently updated our internal instance of GitLab to 13.8.4 and now `lab ci lint` does fail with:
[code]
This is already reported at https://gitlab.com/gitlab-org/gitlab/-/issues/321290, calls to `ci/lint` now require authentication.
Right now it is unclear, whether this was done intentionally and is missing documentation or not.

[2021-02-15 18:50] mfriedenhagen commented on #591
It looks like authentication is now required to access the lint endpoint: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/54216

[2021-02-15 19:03] prarit commented on #406
@leipert -- any update here?  Just curious if you've made any progress.  I'd really like for this issue to be the focus of the next release.

[2021-02-16 13:11] Tcc100 opened #592 "Cannot use lab in .wiki repo"
Trying to use lab from within a cloned **.wiki** repo fails to find the gitlab project.

[code]
[code]

[2021-02-16 23:03] mfriedenhagen commented on #591
And now it seems authentication with a PAT does only work on gitlab.com but not on on-prem instances.

[2021-02-17 09:02] mfriedenhagen commented on #591
It boils down to a bug on the side of GitLab.
* `lab` already uses authentication correctly.
* Linting is erroneously connected to signing **up** (i.e. permission to create an account yourself).
* If you switched this off on an on-prem instance you are not able to lint right now.

I am closing this, as nothing can be done on the side of `lab`

[2021-02-17 09:02] #591 closed

[2021-02-17 11:29] damoon commented on #562
i tested 0.19. it still fails.
https://gitlab.com/utopia-planitia/exocomp/-/jobs/1036151417

[2021-02-17 13:52] bmeneguele commented on #562
That's really odd. I've downloaded both `alpine:edge` and `alpine:3.13` from docker.io and manually installed lab on it:
[code]
After, I used the command from one of the comments:

And it just worked for both images using both `root` and a normal user in a test repo I have in gitlab:
[code]

Can it be something somehow related to the CI environment?
Tbh, I have no idea what's going on.

[2021-02-17 15:49] github-cygwin opened #594 "Weird control code output by `lab mr show'"
I'm observing weird output when running `lab mr show'.  Example follows,
please observe the first line of output:

[code]
The last line is my prompt again, and the weird control code output has
been grabed as input by the shell.  I have to press ^U or ^C to get rid of it.

Using the --no-color-diff option doesn't change the output, while using
--no-markdown fixes it.

This is in a xfce4-terminal r

[2021-02-17 17:14] github-cygwin commented on #594
this problem has been fixed with commit 2d65ce7e0f273327c8404727401d5080ecdcb5d9, apparently.

[2021-02-17 17:14] #594 closed

[2021-02-19 23:07] prarit commented on #592
Hey @Tcc100 -- could you point me to a wiki project that causes this to happen?  I'm 100% sure there's a bug but just want to be able to reproduce so I can debug the problem a bit better :) TIA

[2021-02-19 23:30] Tcc100 commented on #592
Hi, I mostly work on a private server, but I found this one and it one should be sufficient for a test:
https://gitlab.com/gnutls/gnutls.wiki.git

[2021-02-21 12:50] prarit commented on #592
Thanks @Tcc100 .  I just wanted to confirm that was the type of wiki you were looking at.

lab currently does not support editing of wiki pages.  I'm not sure it's on anyone's list.  It looks like the API supports wiki page actions, for example,

**https://docs.gitlab.com/ee/api/wikis.html#list-wiki-pages**

and go-gitlab also has support for wiki page actions.

The specific command you executed,

[2021-02-21 16:52] Tcc100 commented on #592
Hi @prarit, thanks for looking into it.

In my understanding, a project consists of several parts, including the main repo, the issue list, and the wiki repo.
So, the action of listing issues should be the same whether it uses the main repo or the wiki repo as reference to find the project.
So, I am not sure what difference you would expect from using `issue ls` in a wiki repo than the main repo.

[2021-02-22 14:28] github-cygwin opened #596 "markdown colors don't work nicely in terminal sessions with light background"
As the subject says, there's not much to add.

Except, maybe, using light grey as markdown color for comments when
the background color is light grey leaves something to be desired :)

Corinna

[2021-02-23 13:20] bmeneguele opened #598 "Windows syscalls error"
While preparing a new release for `lab` the build system found the following error:
[code]

These are Linux vs Windows syscall issues. While the stdout case is simple to solve, the Dup and Dup2() require some kernel32.dll calls. I'm going to create a layer of compatibility for these calls, so we can populate it for future needs.

[2021-02-23 13:38] fmuellner commented on #598
Oh no, I'm sorry for that :-(

[2021-02-23 13:47] bmeneguele commented on #598
No worries at all @fmuellner .. we never really expect this kind of issue, even more, when we're totally focused on the general solution/feature. And that's not the first time we've stumbled on that.. nor the last. ;-)

[2021-02-23 13:50] bmeneguele commented on #598
@fmuellner btw, take a look at the MR and give your review there.

[2021-02-23 14:07] #598 closed

[2021-02-24 04:45] guaizi149 opened #601 "how to install lab in centos?"
how to install lab in centos?

- centos7.2

[2021-02-24 05:12] bmeneguele commented on #601
Hi @guaizi149 , unfortunately, you can't build it in centos 7 due to Golang compiler version and other dependencies lacking.
Because of that, I've been keeping a non-official repository that you can use for downloading a pre-compiled (CentOS 7 and 8) version of it.
https://copr.fedorainfracloud.org/coprs/bmeneguele/rhkernel-devtools/

I'm going to update to v0.20.0 in a few hours.

[2021-02-24 06:43] guaizi149 commented on #601
Thank you very much!

[2021-02-24 06:43] #601 closed

[2021-02-27 05:56] zaquestion commented on #592
I wonder if it's just a matter of getting `PathWithNamespace` to be aware of the `.wiki` suffix and to find the project accordingly. If all it'll take is a `TrimSuffix` command, that's an easy tweak

https://github.com/zaquestion/lab/blob/master/internal/git/git.go#L204-L233

[2021-03-02 08:22] MartinDelille commented on #337
Indeed. This is fixed: I know have the include issue described in the first place.

[2021-03-02 18:41] mfriedenhagen commented on #337
While inspecting the auth issue I detected that there are two API resources for linting. One which is project specific and one stand alone one. I guess lab must use the project specific one (https://docs.gitlab.com/ee/api/lint.html#validate-a-ci-yaml-configuration-with-a-namespace), so GitLab is able to deduce the local include. (Including stuff via URL or the project/ref/file syntax works fine wi

[2021-03-02 22:56] LennySzubowicz opened #609 "No chance to edit cover letter: lab mr create origin --cover-letter -m "...blah blah...""
I wasn't given any chance to edit the cover letter. My merge request was immediately posted and it had no cover letter. So it was malformed.

[lszubowi@lszubowi rhel-8]$ lab mr create origin --cover-letter  -m "...blah blah..."

[lszubowi@lszubowi rhel-8]$ git config core.editor
vim
[lszubowi@lszubowi rhel-8]$ echo $GIT_EDITOR
vim

[lszubowi@lszubowi rhel-8]$ lab --version
git version 2.27.0
lab v

[2021-03-02 23:58] prarit commented on #609
Hey @LennySzubowicz , the issue here is the use of the -m option.  -m assumes you've completed the title and description for the MR.  If you want to edit the MR before submitting you should just use

`lab mr create origin --cover-letter`

which will open $GIT_EDITOR.

[2021-03-03 01:18] LennySzubowicz commented on #609
@prarit what if I had thrown in -F that is, which would win?

  -c, --cover-letter           do not comment changelog and diffstat
  -F, --file string            use the given file as the Description
  -m, --message stringArray    use the given <msg>; multiple -m are concatenated as separate paragraphs

Note that lab mr create --help doesn't even mention $GIT_EDITOR and the help text is pretty spa

[2021-03-03 12:38] prarit commented on #609
It's not something that is specific to lab mr create.  lab issue create, lab mr edit, etc,. .all use $GIT_EDITOR.  Something should be added to the README.md about this IMO.

That's not a bad idea.  I'll look into it.

We only are looking at $GIT_EDITOR.  You do raise a good point.  I'll think about adding 'git config core.editor'.  I'll look at what git does and mimic that choice of options.

[2021-03-03 12:53] prarit commented on #609
And 'blah blah blah ..." is not a good descriptive commit message @LennySzubowicz  :) :)

[2021-03-03 14:45] bmeneguele commented on #609
I agree: `-m`, `-F` and `-c` follow a strict presence order when used together. The user should 1) be warned about in runtime, 2) have it noted in the `--help` or 3) not be allowed to run these options together, following the same behavior as `git`.

IMO 2) and 3) should be adopted.

[2021-03-03 20:42] LennySzubowicz opened #614 "My pending MR is visible in webui, but doesn't show in lab mr list"
In particular:
https://gitlab.com/redhat/rhel/src/kernel/rhel-8/-/merge_requests/99

This is a MR for 8.4 and it appears that lab mr list defaults to showing pending merges for main.
My current branch in my local git clone appears to not matter

However, I can it see it by:

lab mr list origin 8.4

It's not obvious from the help that the lab mr list is branch sensitive.

[2021-03-03 20:45] LennySzubowicz opened #615 "Why is output of lab mr list different from lab mr --list"
Why is the output of "lab mr list" different from the output of "lab mr --list" ?

[lszubowi@lszubowi rhel-8]$ lab mr list
!107 redhat: use tags from git notes for zstream to generate changelog
!89 ppc64le/ibmvnic: additional ibmvnic fixes from upstream
!55 Draft: 1893793 certs: Add EFI_CERT_X509_GUID support for dbx entries
!39 dm: fix iterate_devices based device capability checks
!33 RHEL8.4: U

[2021-03-03 20:52] LennySzubowicz opened #616 "Default color for changelog text from lab mr show <mr id> is not legible on white background"
The default color for the merge change log text appears to be light grey, which is barely legible on a white terminal background.

Is there a config setting for .config/lab/lab.toml to change this?

[2021-03-03 20:54] prarit commented on #616
There isn't.  It's because I'm lazy and assumed everyone would use a black/dark background :)  This is, FWIW, a dup of https://github.com/zaquestion/lab/issues/596

[2021-03-03 20:54] #616 closed

[2021-03-03 20:57] prarit commented on #614
There is a --all that obtains *all* MRs, and that's what it's for.  I'll update the help for 'lab mr list' to make it more obvious.

[2021-03-03 21:07] prarit commented on #614
Okay, so I think you're confused and you ended up with a result you did not expect.

[code]

Looking at the help text, I don't see a need for a change.  I agree there's a lot of options there but I think we're okay on the documentation front.

[2021-03-03 21:08] prarit commented on #614
Oh, to be clear the string match is against the MR title and description.

[2021-03-03 21:10] prarit commented on #615
'lab mr --list' shows the last 10, and 'lab mr list' shows the last 20.  That can be made more consistent.

[2021-03-03 21:21] LennySzubowicz commented on #614
Yes, I see now that the "8.4" is a string match on title. I was wrong in thinking it was the branch target.

Not really obvious from lab mr list --help that default is 20.

 -n says it's 10.

Flags:
  -l, --label strings          filter merge requests by label
  -s, --state string           filter merge requests by state (all/opened/closed/merged) (default "opened")
  -n, --number int

[2021-03-03 21:31] LennySzubowicz opened #617 "What does it mean for an MR to be "assigned" to someone?"
At first glance I expected "lab mr list --mine" to show the pending MRs that I have submitted.

But the help text does say that --mine will show the MRs that are "assigned" to me. Does that mean MRs for which I'm a required reviewer?

If that's the case, it would be useful to have some listing option to show me the pending MRs that I (or a specified user) have submitted.

[2021-03-03 22:15] bmeneguele commented on #609
oh, it should not have been closed. The merge **partially** solves the issue.

[2021-03-03 23:15] bmeneguele commented on #617
I have to agree with you, the `--mine` is indeed misleading: it really gives the feeling of "I own this MR" or "I'm the author of that".
I'm going to submit a MR for getting rid of it and adding the `--author` option. Lets see what others think about it.

[2021-03-04 02:30] prarit commented on #615
Trying to fix this in #621

[2021-03-04 08:16] yizhanglinux opened #622 "lab clone failed with "read: connection reset by peer""
Hello
My lab clone cmd failed with "read: connection reset by peer", but git clone works well, could you help check it?
[code]

[2021-03-04 09:34] soullivaneuh commented on #562
@bmeneguele  This bug looks indeed very vicious and looks to be "resolved" by itself, at least for me.

I tried with

`alpine:edge` distributing `0.20`:

[code]

`alpine:3` distributing `0.18`:

[code]

`alpine:3` distributing `0.20` from `edge/community` (I did have my first issue on this case):

[code]

So... I don't know either? :upside_down_face:

Maybe a fail on the Alpine package build syste

[2021-03-04 13:03] bmeneguele commented on #622
Hi @yizhanglinux ,

are you using any system proxy (maybe through $HTTP_PROXY env var or any other alternative)?

The only step `lab clone` does differently from `git clone` is a check in GitLab for the project you're trying to clone.
AFAIK, and as it was already reported before (issue #544), `lab` doesn't seems to behave well with proxies (something we must solve ASAP).

[2021-03-04 13:50] bmeneguele commented on #562
Maybe :smile: . Thank you very much for checking it @soullivaneuh .
I'm going to close this issue in the hope it was an issue external to the project (golang version in Alpine build system maybe?).
But please, feel free to reopen whenever needed!

[2021-03-04 13:55] prarit commented on #615
Fixed in #621

[2021-03-04 13:55] #615 closed

[2021-03-04 13:56] prarit commented on #614
I think these issues are solved.

[2021-03-04 13:56] #614 closed

[2021-03-04 17:22] yizhanglinux commented on #622
I tried set proxy system env and it works now.

[2021-03-04 17:26] bmeneguele commented on #622
Oh, I'm glad it worked :).
Thanks for the report and the try on setting the env var! :+1:

[2021-03-04 17:26] #622 closed

[2021-03-04 18:09] #617 closed

[2021-03-04 18:52] bmeneguele commented on #544
Ok, after some time I came back to look at this issue.
I've set a SOCKS tunnel with a server I have access and tried to use lab through it.
In one terminal:
[code]
In another terminal while SSH was running:
[code]
it worked.

To make sure I decided to trace the network usage of lab to see what was the output `host:port` it was using. While SSH tunnel was running and before execute `lab`:
[code]
Th

[2021-03-04 19:05] #339 closed

[2021-03-04 21:21] bmeneguele commented on #335
It seems it wasn't an issue per se.
I'm closing it. Feel free to reopen if needed.

[2021-03-04 21:21] #335 closed

[2021-03-05 01:58] LennySzubowicz opened #625 "Help for "lab mr show --no-color-diff" looks wrong"
A nit.

--no-color-diff   show color diffs in comments

Shouldn't this be: Don't show color diffs in comments?

And when would comments be colorized? If someone proposes a code revision in a comment?

[2021-03-05 12:44] bmeneguele commented on #343
With #605 merged, this issue is now fixed.

[2021-03-05 12:44] #343 closed

[2021-03-05 13:04] paride commented on #343
@bmeneguele time to update the project description? It still says:

[2021-03-05 13:19] bmeneguele commented on #343
@paride ooh! of course!
I changed it in README and forgot the description. Many thanks for the heads up!

@zaquestion could you change that? You're the project owner and the only one allowed to change that :)

[2021-03-05 13:47] prarit commented on #625
haha -- good catch.  That's an easy fix.

[2021-03-05 13:50] prarit commented on #625
Yes, code revision comments are colorized.  You can see this in the GitLab WebUI, and lab mimics that output.  Albeit on a dark backround ;)

[2021-03-05 14:58] #625 closed

[2021-03-08 18:15] bmeneguele opened #628 "gitlab search with OR behavior"
@prarit @zaquestion, I was discussing with some work colleagues last week how GitLab doesn't have an easy way of performing **OR**ed searches in issues and MRs.

From the [docs](https://docs.gitlab.com/ee/user/search/#filtering-with-multiple-filters-of-the-same-type), the search terms are concatenated with the **AND** operation, and, consequently, the only option for searching in a **OR** way is b

[2021-03-09 13:53] prarit commented on #628
I think you should keep this open.  It's something for future work.

[2021-03-11 00:28] profclems commented on #592
I agree with @zaquestion... You just have to be aware of the `.wiki.git` suffix and trim it

[2021-03-11 15:24] dvlasenk opened #632 ""lab mr show" output with PAGER=most is unreadable, readable but mangled with PAGER=less"
[code]

[2021-03-15 14:08] bmeneguele commented on #632
@dvlasenk thanks for the report!

The issue here is that `lab` is using pagers for every output it produces that can go beyond a window size if the user doesn't pass the `--no-pager` option or when stdout/stderr it's not piped out to a pager, e.g., `lab mr show --comments | most`. With that, when using the `PAGER` env var `lab` won't avoid markdown rendering.

Both cases (line wrapping and colors)

[2021-03-15 14:12] bmeneguele commented on #632
At the same time, I'm not sure why `most` isn't supporting the color codes there, it seems to have the usual support for that.

[2021-03-15 14:38] dvlasenk commented on #632
Bruno, does it work for you?

[2021-03-15 14:44] bmeneguele commented on #632
I was able to reproduce the "issue" you reported, but using the `--no-markdown` (or `-M`) worked as expected, removing the glitches you saw. But I need to dig more to understand why `most`, specifically, isn't supporting the colors as it should.

[2021-03-15 15:01] bmeneguele opened #633 "Ensure the MR the user approves is pointing to the right HEAD"
Hi all,

I received a tip from a colleague that the [GitLab Merge Request API](https://docs.gitlab.com/ee/api/merge_request_approvals.html#approve-merge-request) allow the user to pass the HEAD commit SHA for which that approval should refer to, avoiding the following race condition:

1. user checkout MR v1
2. review it locally
2.1. new MR v2 is pushed upstream
3. approve (MR v1 in mind)
3.1. MR v

[2021-03-15 15:15] prarit commented on #633
My view is that this can happen on any project at anytime.  You need to be sure what you reviewed is what you are approving.  Any tool, including lab, has a small delta in time which this issue can occur.

[2021-03-15 16:13] dvlasenk commented on #632
It does not work correctly with "less" as well: the lines are incorrectly wrapped (glued together). See my initial comment.

[2021-03-15 17:05] dvlasenk commented on #632
It does not understand ^[[38;5;<8-bit color no>m escape sequence.
It likely understands only traditional 3-bit color escapes + 1 bit for "bright".
See https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

[2021-03-15 17:58] snitm opened #635 "'lab mr create' failed to create a valid merge request"
I made my changes to a local branch, pushed the changes to my clone hosted on gitlab, my branch's changes needed to be merged into my remote origin's main branch, so from my local workspace on my branch I ran: lab mr create

lab dutifully showed my changes:

[code]
But upon closer inspection of above, lab is mistaken to think the changes I want merged reside at 'origin:update_dm_raid'

Here are 2

[2021-03-15 18:30] prarit commented on #635
@snitm could you run 'history' and cut-and-paste the EXACT commands you executed?

[2021-03-15 18:43] snitm commented on #635
OK, but please don't think less of me! ;)

[code]

I then decided to try the gitlab web UI, worked fine (as I detailed in my initial report aboce).

[2021-03-15 19:04] bmeneguele commented on #632
Yes, but as I said, it's caused by the markdown rendering: when using `PAGER=less` `lab` will try to render the way it appears in WebUI, _which is also messed up with lines glued together_; while with `lab mr show | less` `lab` won't perform any markdown rendering, presenting the text the way it was first sent to gitlab.

The difference between `less` (with rendering) and WebUI results is due to t

[2021-03-15 19:04] bmeneguele commented on #632
ahh ok! makes sense then.

[2021-03-15 20:34] prarit commented on #635
The problem here is that you've declared a branch with the default remote set to upstream (ie, the default remote of update_dm_raid is origin/main).  The default remote and branch takes precedence in the code so it's always going to point to origin/main instead of snitm/main.

Now I'm scratching my head why the UI works :)

[2021-03-15 20:43] snitm commented on #635
If that is _the_ reason _this_ is why I'm not a fan of git meta-tools (github or gitlab)... they are being far too "cute" about inferring what is being requested to be merged.

The way I created my branch in 100% standard git usage.  There isn't some extra meaning behind it.. I used origin/main as the starting point of my branch.  I made changes.  Those changes are to be merged to origin/main (whi

[2021-03-15 20:47] snitm commented on #635
(btw, my workflow on all gitlab MR have started with branching with "git checkout -b <mybranch> origin/<branch>" so for it to suddenly not be acceptable is kind of strange)

[2021-03-15 23:29] bmeneguele commented on #635
Hi @snitm,

we have two improvements here:

1. (lab side) adding `--source-branch` is something indeed we should do, so the user can make sure the right branch is being used; even a `--source-remote` is valid, considering the input for `lab mr create` is `<target-remote> <target-branch>`, so yes, we're going to consider implementing it.
2. (user side) you can add a best-practice step to your workf

[2021-03-15 23:41] prarit commented on #635
So after looking at things, I also agree there's a mistake @snitm made:  he should have done a 'git push -u' not a 'git push' *as the documentation clearly states*.  Having said that, I don't think having a --set-upstream is entirely a bad idea.  I would prefer that users use 'push -u' but not against a --set-upstream.  We've added other options like it (to do git-ish things in lab).  I am going t

[2021-03-16 00:36] prarit commented on #635
I'll fix the 0 commits issue in !637.

[2021-03-16 12:31] #632 closed

[2021-03-16 14:39] snitm commented on #635
Would think it best to provide --source remote:branch
_And_ --dest remote:branch

But I really don't want my current working branch to track the remote, I want it tracking 'origin/main'
This use of git push's -u to hack in hints that makes lab mr create's guesswork more informed is a poor solution/recommendation.

I have a fundamental problem with the notion that my local branch will then be left

[2021-03-16 18:39] bmeneguele commented on #635
That's valid for sure!

Not sure about it, `lab mr create` already has as positional args the `target` remote and branch.
Reworking positional args would make sense if all commands were reworked, requiring a major change in the project. And, at the same time, I don't think it's desirable. So, for now, we should consider `--source` only.

I understand your point of view, however, what I've always u

[2021-03-16 18:53] snitm commented on #635
OK.

Sounds good, and thanks for all your other helpful comments!

[2021-03-18 12:28] prarit opened #639 "'lab mr edit' --add-reviewers option?"
Should 'lab mr edit' have an '--add-reviewers' option?  It does allow for
the setting of the assignee which results in a required approval.
Reviewers are a nice feature to give someone a "heads-up" about a change
or ask for a general review.

Thoughts?  You can do it via the WebUI so it seems like something 'lab mr
edit' should have.

[2021-03-18 16:16] bmeneguele commented on #639
Oh, `lab` doesn't have it for `mr_create` either.
We should add this option (only `--reviewer` would be better I think) in both `create` and `edit`.
The `--assignee` is also an array field, and the user can use it multiple times for getting multiple persons assigned.
IMO `--reviewer` should follow the same approach.

What do you think?

[2021-03-19 11:44] #635 closed

[2021-03-20 20:30] prarit commented on #609
I have implemented the core.editor check in #642

[2021-03-21 18:18] #609 closed

[2021-03-22 11:11] huhuang03 opened #644 "Why `lab project list` show not my project"
I am on a windows.

And my config in C:/Users/myname/.conf/lab/lab.toml is:
[code]

But when I call `lab project list`, it shows some project none of them is mine.

[code]

How can I debug this?

[2021-03-22 11:18] prarit commented on #644
'lab project list' only shows the open projects.  You want to execute 'lab project list --member' to show projects that you are a member of.

[2021-03-22 12:01] huhuang03 commented on #644
Thank you for your reply. `lab project list --member` can show project I'm member.

[2021-03-22 12:01] #644 closed

[2021-03-22 15:48] soullivaneuh commented on #562
@bmeneguele Sorry for that, but my comment is falsy.

I tried again with a `mr create` command and got the same failures as above.

It looks to be specific to that command.

[2021-03-22 16:02] soullivaneuh commented on #562
Here is the related `Dockerfile`:

[code]

With that, I do have a crash with:

[code]

I think you can safely remove the two last ones that are just files addition for my environment.

[2021-03-22 16:32] soullivaneuh commented on #562
Another breaking case this case with Debian:

[code]

Note: If I replace `0.21.0` by `0.17.2`, all is working like a charm.

[2021-03-25 19:31] dmlond opened #649 "lab ci lint file other than .gitlab-ci.yml"
I can override the CI/CD configuration file in my gitlab project CI/CD General settings. It would be nice if lab either allowed me to override the name of my file, or used this information from the gitlab api (if possible) to figure out which file to lint.

[2021-03-26 15:21] galan opened #653 "Add merge-request option for "Merge when pipeline succeeds""
It would be helpful if lab would provide an option to enable the ["Merge when pipeline succeeds"](https://docs.gitlab.com/ee/user/project/merge_requests/merge_when_pipeline_succeeds.html) Option, especially in the automation context, where we use lab.

 A [push option](https://docs.gitlab.com/ee/user/project/push_options.html) named `merge_request.merge_when_pipeline_succeeds` does exist for that

[2021-03-26 15:33] prarit commented on #653
I've been thinking about this same option for a while.  I'll take a look at the API and let you know if we can add this functionality.

[2021-03-26 15:44] prarit commented on #653
There is an option to do this: https://github.com/xanzy/go-gitlab/blob/v0.47.0/merge_requests.go#L662

I'll add a 'lab mr create' option for this.  It might be wordy though ;)

[2021-03-26 15:46] bmeneguele commented on #653
Lab, but default, have this option set. But in my workflow, it's sometimes important to merge even if the pipeline failed.. so I'm implementing right now the flag :)
@prarit, would you mind if I take this issue?

[2021-03-26 15:46] prarit commented on #653
np!  Go for it @bmeneguele :)

[2021-03-26 15:48] bmeneguele commented on #653
Just one note: this is under the [merge-request accpet](https://docs.gitlab.com/ee/api/merge_requests.html#accept-mr) API and is set, today, by default with `lab mr merge`. So I'm going to keep it there instead of adding to `lab mr create`.

[2021-03-26 18:28] galan commented on #653
Wow, you people are amazingly fast :rocket:

Do I understand that correctly, that it is required do call lab a second time on the created MR for this feature and that it already exists?

[2021-03-26 20:42] bmeneguele commented on #653
Your timing was the point :D I was looking into it right at the moment you opened the issue heheh

Yes, `lab mr merge <mr-id>` today set the MR flag "merge automatically iff pipeline succeeds".

However, the PR #654 turns this default behavior off: after it's merged you'll need to pass `-p` or `--pipeline-succeeds` to `lab mr merge <mr-id>` to get the same behavior. The default will be "merge imme

[2021-03-29 11:24] towo commented on #653
Might want to bump version; since having figured out it does a "merge on succeed", I tend to hit it soon after the create, and that would be a painful experience if it suddenly does an immediate merge…

[2021-03-29 12:34] bmeneguele commented on #653
Yeah, we're going to do that.
However, this behavior breakage might cause a lot of surprises.. @towo @galan what if we add a negative flag instead? For instance, keep the default "merge on succeed" as the default behavior and add a `--immediate` and enhance the help message to state the default behavior.

Sounds better right?

[2021-03-29 12:41] towo commented on #653
Plus appropriate documentation that merge is by default the same as hitting the button currently on the merge request page

[2021-03-29 12:51] prarit commented on #653
I think a negative flag is better in this case.

[2021-03-29 13:23] bmeneguele commented on #653
Ok.. I'm going to push a new version of #654

[2021-03-29 14:56] bmeneguele commented on #653
It's done. Feel free to review :)

[2021-03-29 21:22] bmeneguele commented on #562
Ok, we were able to reproduce the issue, finally! And it's quite "obvious" :facepalm:
Some distros and CI systems set their user home and config dir for different places...
We're looking into it.

[2021-03-30 21:16] prarit opened #659 "GitLab migration difficulty"
Hey everyone, I've been working on migrating the lab project to GitLab.  Unfortunately, the tests in GitLab's CI are failing with https://gitlab.com/prarit/lab/-/jobs/1137824995.  For some reason there is a panic in almost every test.  @bmeneguele and I have been looking at this and have not made much progress.

One thing we did get working is testing locally with podman and the docker.io golang 1

[2021-03-30 21:16] prarit commented on #562
The information in https://github.com/zaquestion/lab/issues/659 may be useful here.  I can replicate the panic in GitLab's CI.

[2021-04-06 11:48] PhML opened #661 "Add order options to issue list"
It would be nice to be able to sort issues by priority with `order_by` attribute.

[2021-04-06 13:35] prarit commented on #653
@bmeneguele do you think you can test using podman and then let me know the result?

[2021-04-06 14:02] prarit commented on #661
Hey @PhML, to be clear you want these "mr list" options to be applied to "issue list", correct?

      --order string           display order (updated_at/created_at) (default "updated_at")
      --sort string            sort order (desc/asc) (default "desc")

[2021-04-06 14:38] #653 closed

[2021-04-06 14:41] bmeneguele commented on #653
hey @prarit !
Sorry.. I tested it already. just forgot to mention =(.

[2021-04-07 11:33] PhML commented on #661
@prarit precisely :-)
I think there are more order choices though.

[2021-04-07 11:50] prarit commented on #661
There are but I was trying to keep it simple :)

[2021-04-09 11:49] prarit commented on #661
Hey @PhML I've opened #664 to resolve this.

[2021-04-09 19:18] #661 closed

[2021-04-14 19:40] prarit opened #667 "lab search fails with less than 3 characters"
Best explained with an example:
[code]

[2021-04-14 19:41] prarit commented on #667
I'll look into it.

[2021-04-22 09:40] LaneWolf opened #669 "lab mr create does not work with custom remote name for fork"
Setup local repo for project and it's fork using following commands:

lab clone <project>
cd <project>
lab fork -r <myremote> -n <myproject>
git checkout -b <mybranch>

After commiting changes and pushing mybranch to myremote (git push <myremote> <mybranch>), try to create mr (lab mr create). It fails with following error:

mr_create.go:148: aborting MR, source branch <mybranch> not present on rem

[2021-04-22 12:28] prarit commented on #669
What command did you use to do the push?  You should use 'git push -u' to set upstream.

For example,

git checkout <target branch name>
git checkout -b <branch_name>
# do work
git push -u <fork_name> <branch_name>
lab mr create  <origin> <target branch name>

[2021-04-29 13:53] prarit commented on #562
Hey everyone, The first commit in https://github.com/zaquestion/lab/pull/670 fixes this panic.

[2021-04-29 18:35] #562 closed

[2021-05-05 17:45] zaquestion commented on #659
I know I pretty much had it working after https://github.com/zaquestion/lab/pull/455, IIRC it sorta fell apart after we brought in the config changes. Some of it _may_ have been reverted to allow releases to continue working over here, I can't quite recall.

[2021-05-05 17:49] zaquestion commented on #659
Here's the PR where we originally added added the `.gitlab-ci.yaml` https://github.com/zaquestion/lab/pull/409 This was working when it was merged

[2021-05-05 17:52] zaquestion commented on #659
Looks at the failures in the job you linked makes me think it's still related to the config changes `hcl` -> `toml`, and in particular I think lab is probably playing poorly with the logic to automagically work in a gitlab ci context. Which probably isn't what we want, as we want it to use the creds that we're providing it. An ironic consequence of moving to gitlab.

[2021-05-05 19:14] prarit commented on #659
Oh :) I should close this!!!   I've found most of the problem was #671 and #670.  I'm still seeing some odd failures.

I'm definitely seeing some events that look like races due to t.Parallel().  If I set '-parallel 1' some of the failures disappear completely.  I wonder if being "closer" to GitLab is causing some timing problems that didn't occur on an external platform like TravisCI.

[2021-05-05 19:14] #659 closed

[2021-05-07 14:43] prarit opened #673 "lab needs better error messages for duplicate approvals and unapprovals"
[prarit@prarit rhel-7]$ lab mr approve 119
Merge Request !119 approved
[prarit@prarit rhel-7]$ lab mr approve 119
2021/05/07 10:34:35 mr_approve.go:55: POST https://gitlab.com/api/v4/projects/24140364/merge_requests/119/approve: 401 {message: 401 Unauthorized}
[prarit@prarit rhel-7]$ lab mr unapprove 119
Merge Request !119 unapproved
[prarit@prarit rhel-7]$ lab mr unapprove 119
2021/05/07 10:35:01

[2021-05-20 02:14] swills opened #680 "v0.21.0 fails to build on FreeBSD"
I'm seeing a build failure on FreeBSD:

[code]
Yes, the dup3 syscall exists, but I think you can't access it from go via `syscall`. I think you have to use `x/sys/unix` Syscall()

[2021-05-20 16:09] bmeneguele commented on #680
@swills I think you meant v0.21.0 in the title right? :)
We don't really support FreeBSD directly, but the fix is pretty straightforward.
Let me prepare an MR for you to test.

[2021-05-20 16:38] bmeneguele commented on #680
@swills could you checkout the PR branch and try to build it in your FreeBSD local system?
Just to make sure I'm not missing anything.

[2021-05-20 16:42] swills commented on #680
[code]

[2021-05-20 17:03] bmeneguele commented on #680
@swills ah yes, I was aware of that, but the Golang (1.15) interface doesn't implement it.. and that's the version we're still setting as "default" for running lab. I can revisit this topic once we update for 1.16+.

But hey, many thanks for testing it so quickly :)
I'm was preparing the new release right before I saw your issue here.
It'll be included for v0.22.0.

[2021-05-20 17:04] #680 closed

[2021-05-20 17:07] swills commented on #680
I believe the `syscall` package in Go is [frozen](https://docs.google.com/document/d/1QXzI9I1pOfZPujQzxhyRy6EeHYTQitKKjHfpq0zpxZs/edit) and won't change. You can access the `dup3()` syscall via [`x/sys`](https://pkg.go.dev/github.com/celo-org/sys@v0.0.0-20200816232032-1d4c3212eaf2/unix) tho.

[2021-05-20 17:21] bmeneguele commented on #680
@swills that's a good point actually. Just noticed `Deprecated: this package is locked down` in the syscall docs.
Well, I think I'm going to revisit it for the next release then. Many thanks for the heads up! :)

[2021-05-28 14:57] bokchan opened #684 "Unlabel option not working for scoped labels"
It is possible to toggle between [scoped labels](https://docs.gitlab.com/ee/user/project/labels.html#scoped-labels) by using  `--label` and `--unlabel` together. E.g. assuming the current label is  e.g. `state::Review` this will change the scoped label to `state::Merged`

    lab issue edit --unlabel state::Review --label state::Merged  <id>

However I experience that removing a label by using `--

[2021-05-31 14:25] bokchan commented on #684
Figured out that clearing the scoped label does work if you pass an empty string as new label:

    lab issue edit --unlabel state::Review  --label "" 123

[2021-06-02 16:14] bmeneguele commented on #684
First of all, thanks for the report @bokchan.
The `--unlabel` should work by itself, without requiring a new empty label.
That's for sure a bug. I'll take a look on that and prepare a MR if possible.

[2021-06-03 20:26] mindriot101 opened #685 "Workflow for environments"
Is there any interest for a workflow for viewing environments, particularly which commits are on which environments? At $WORK we have multiple dev environments, one staging and one prod and it's quite handy to get an overview in the CLI.

I have implemented something myself for my own purposes, shown in the image below. The details have been anonymised, but in the following image, the words have t

[2021-06-07 18:24] prarit commented on #685
While I don't know if I'd personally make use of it I can see it being very handy for people with your use case :)   OOC how do you envision this being called from the lab command line?

[2021-06-12 14:30] mindriot101 commented on #685
I was thinking something like `lab env list` which would present a summary. There may be flags to hide or show information. Perhaps something like `lab env history <environment>` or `... show <environment>` to show all of the deploys (mimicking the gitlab interface). What do you think?

[2021-06-14 23:20] #684 closed

[2021-06-14 23:20] bmeneguele commented on #684
Should be fixed now.
Once again, thanks for the report.

[2021-06-15 13:18] bmeneguele commented on #4
We're removing the git passthrough support wherever possible.
The goal is to use `lab` as an alias for `git`, so the user can use something like `git lab mr ...`, with that, support --porcelain don't really make sense anymore.

[2021-06-15 13:18] #4 closed

[2021-06-15 13:23] bmeneguele commented on #8
Considering the way `lab` works today, I'm kinda skeptical it's still a problem for us.
@zaquestion any thoughts? I'm inclined to close it.

[2021-06-15 13:36] bmeneguele commented on #20
Bullet point 2 fixed in `0.22.0` by 4f8cc175dd6443cc2182455e948079fc7fe25413.

[2021-06-15 13:36] #20 closed

[2021-06-15 13:37] bmeneguele commented on #68
`note` command added by #238

[2021-06-15 13:37] #68 closed

[2021-06-15 13:46] bmeneguele commented on #76
Edition for MRs and Issue is now available. Snippets aren't yet, but we can handle that in a separate issue re-using the code already existent for both MRs and Issues. I'm going to close this issue here.

[2021-06-15 13:46] #76 closed

[2021-06-15 14:11] bmeneguele commented on #79
I'm not sure if I understand the expectation here: today, when a `lab fork [repo]` is performed, both `origin` and `upstream` is added, the first is added by the `git clone` command itself and the later is added by `lab`. This is the default behavior for when forking a project from outside a git repo. When `forking from origin` it doesn't really makes sense to add `upstream` if `origin` is the act

[2021-06-15 14:28] bmeneguele commented on #127
AFAICT this issue was solved in version `0.22.0` through 63c2db6414511, which added the `--source` flag to `lab mr create` command: now you can pass whatever `--source <remote>:<branch>` and the target remote/branch is passed through positional args, i.e. `lab mr create --source remote:branch target_remote target_branch`.

Would that cover the initial case of this issue?

[2021-06-15 15:51] tydavis commented on #79
This is to work with/around the issues which copy-paste commands have wrought.  Nearly all documented / blogged-about / etc operations are set to run on `origin`. By making sure that `origin` is the personal fork of the repo, there's less of a chance that an accidental merge will be made against upstream's representation.

Though, this also goes against most other tools' methods (like `hub`) where

[2021-06-15 20:07] prarit commented on #673
Resolved by bef39e0eea40 ("approve/unapprove: Provide better error messages for repeat actions")

[2021-06-15 20:07] #673 closed

[2021-06-15 20:30] prarit opened #692 "RFE: lab mr reply --quote-code"
I've previously implemented the display of code comments similar to how the GitLab WebUI displays them.  I'd like to add an additional option to make replying to code comments a bit easier by also adding the diff of the code comment.  I don't know how useful that would be but I know I would use it a lot.

However, this turns us away from only mimicking GitLab's WebUI behaviour.  Using the reply fi

[2021-06-16 17:32] bmeneguele commented on #79
Ahh I see! So the idea was to rename `origin` to `upstream` when the user fork the project pointed by `origin`.
Thanks for the clarification :+1:

The issue I see with this approach is: users getting pretty confused wondering "what happened" to my remote out of sudden?
It would be necessary to also update all the branches tracking `origin` remote branches to then track `upstream` instead.

IMHO I

[2021-06-17 09:05] bokchan commented on #684
Great. Thanks for your great work @bmeneguele

[2021-06-17 19:20] bmeneguele commented on #79
Considering this issue is from 2017, the behavior didn't change and that in general it doesn't really look like a good approach, I'm going to close the issue. But please, feel free to re-open it.

[2021-06-17 19:20] #79 closed

[2021-06-17 19:35] bmeneguele commented on #152
The config file infrastructure had a good overhaul at the beginning of 2021.
Where @faruryo 's issue seems to be resolved. I'm going to close this issue.
But please, feel free to re-open the issue if needed.

[2021-06-17 19:35] #152 closed

[2021-06-17 19:38] bmeneguele commented on #156
Seems to be solved already. Now we have the `--source` option for `lab mr create` and the positional args relates to the target remote and branch.

[2021-06-17 19:38] #156 closed

[2021-06-17 19:44] bmeneguele commented on #162
Sorry, I didn't understand what's the request/issue for lab with this issue.
I understand what you're doing and I personally do that some times, but usually I prefer to keep two different and well separated remotes for different trees and `git remote set-url --push <name> ""`, thus I have an empty push url :).

[2021-06-17 19:50] bmeneguele commented on #165
IMHO, today we don't really need to worry too much about a dependencies when they are small enough for the storage space and internet speed we have :).
But, due to real issues with Viper's HCL parser, we had to change from HCL to TOML, dropping the additional dependency.

The reason for which we changed to TOML instead of JSON, or even YAML, was the similarity of it compared to the git config file

[2021-06-17 19:50] #165 closed

[2021-06-17 19:55] bmeneguele commented on #182
Support for multi-project pipelines were added through PR #579

[2021-06-17 19:55] #182 closed

[2021-06-17 20:01] bmeneguele commented on #207
Feature added in MR #256

[2021-06-17 20:01] #207 closed

[2021-06-17 20:04] bmeneguele commented on #211
Feature added with MR #450

[2021-06-17 20:04] #211 closed

[2021-06-17 20:13] bmeneguele commented on #317
Fixed in #612

[2021-06-17 20:13] #317 closed

[2021-06-22 16:11] bmeneguele commented on #217
I personally think that instructing lab users to add lab as alias is better than install `lab` as `git-lab`. When I see something using `git-*` as name I tend to imagine it uses the git infrastructure as a whole, which isn't true in our case. Lab operates heavily on GitLab API and uses same basic principles and features from git, like the concept of `remotes` and `branches`, but that's it. Overall

[2021-06-22 16:22] bmeneguele commented on #229
@rverma-nikiai can you confirm that the tool mentioned by @zaquestion satisfies your needs?

Project management adds another level of complexity to the tool, so it would be better to keep things separated as @zaquestion mentioned.

[2021-06-22 16:26] bmeneguele commented on #230
With commit d3da0ada671ed708a6d0a425df27a6e798f73d40 (v0.21.0) `lab` dropped any `hub` command/wrapping support, therefore this issue isn't applicable anymore.

[2021-06-22 16:26] #230 closed

[2021-06-22 16:49] bmeneguele commented on #235
After commit 47de8c5fc8fae5410daee363c33216799f68db32 (v0.18.0) was merged, it's now possible to set default values for any command option, meaning that:
[code]
in lab's config file will force `lab project list` to always present the projects from myself only.
For getting back the default behavior you can either remove the config entry or run `lab project list --mine=false`.

@simonmichael @clayto

[2021-06-22 16:56] bmeneguele commented on #240
@temp not sure if it's still a problem for you, but it should've been fixed with PR #361.
Please, feel free to let me know if it's not solved or if any other issue appear.

[2021-06-22 16:56] #240 closed

[2021-06-22 17:01] bmeneguele commented on #246
@spidey Is it still a problem?
I can use `lab` normally via PowerShell. Are there any use cases you can point out for reproducing the issue?

[2021-06-22 17:08] bmeneguele commented on #257
IMHO the exit code of a command should reflect if it succeeded or not, and in the `lab ci trace` it shouldn't have any relation to the job failing or not. For it, you could use `grep`  for grepping a successful message and then get the exit code of `grep` itself, which relates to "text found" or "text not found".

@MartinDelille, considering the command line mentioned by @zaquestion on his comment

[2021-06-22 17:56] claytonrcarter commented on #235
I think the current behavior makes sense for self hosted instances, but not at all for instances like gitlab.com. That said, if BC is a concern, then yes that totally makes sense to set default values for commands. Thanks.

[2021-06-22 18:05] bmeneguele commented on #246
Ok, my bad... it's an Git Bash for Windows specific issue (read the issue title 🤦‍♂️)
But still, I wasn't able to reproduce the issue. Things seems to run as expected from what I tried.

[2021-06-22 18:22] bmeneguele commented on #235
Yeah, I'm not 100% fan of BC tbh :), but considering we this option set like that since 2018 (almost completing 3years) I prefer to not flip the behavior completely. So lets keep it as is for now.

[2021-06-22 18:24] #235 closed

[2021-06-22 18:33] bmeneguele commented on #265
Mirroring is a project management process which I don't think `lab` wants to embrace: empty project creation + project mirror configuration + external authentication + ....

It can get really tricky and I don't think it relates to the actual development workflow that `lab` tries to facilitate.
With that, I would vote against its implementation. But it's up to @zaquestion decision.

[2021-06-22 18:37] bmeneguele commented on #266
In the current `lab` state (v0.18.0 and onwards to be more precise, after 1ab3a53cee4f9ffbb78510638194f7054fc0ce8c was merged) you have the option to set different names, namespace/group and project path.
[code]
It should handle your case.

[2021-06-22 18:37] #266 closed

[2021-06-22 18:41] bmeneguele commented on #274
I think that for a default behavior it's not a good idea, since most of the times we want to use `lab mr list` and filter them by labels, and not show the labels themselves. However, adding a `--show-labels` to `lab mr list` w/o colors seems indeed easy and useful to some extent.

[2021-06-22 18:52] bmeneguele commented on #284
It should be now solved by MR !438.
Feel free to reopen this issue in case it doesn't help your use case.

[2021-06-22 18:52] #284 closed

[2021-06-22 18:56] bmeneguele commented on #291
AFAICT this is now fixed (by #306).
Feel free to reopen it if needed.

[2021-06-22 18:56] #291 closed

[2021-06-22 19:10] bmeneguele commented on #344
IMHO, "it's better than not being able to have this option at all" isn't true.
If you have 2 or 3 jobs running simultaneously, ok, it might work, but what happens when you have 6 or 7 jobs running at the same time like I do? The implementation of this feature won't be easy to achieve and is really error-prone.

What do you think about using `watch "lab ci trace"` in different tmux/screen windows?

[2021-06-22 19:16] bmeneguele commented on #369
Hey, hi @koberleitner-hpg,

The option `-i` was introduced in v0.22.0. It wasn't made default to keep backwards compatibility with those already expecting a default "merge when pipeline succeeds".
[code]
It should solve your case.
Feel free to reopen the issue if that's not the case.

Many thanks.

[2021-06-22 19:16] #369 closed

[2021-06-22 19:20] bmeneguele commented on #415
I think it was solved with 7dcf390188c61d8db988254a35c6bd439b779844, wasn't it @prarit ?

[2021-06-22 19:21] bmeneguele commented on #498
Yep, it's now solved and working as expected :).
I forgot to close the issue.

[2021-06-22 19:21] #498 closed

[2021-06-25 15:02] zampierilucas opened #699 "Stack trace on wrong formatting of command"
When using `lab mr create --source ...`, if the user uses non-expected formatting, lab explodes a stack trace.

[code]
Note that on the example above, the command should've had a space between Some_Remote and Some_Branch.

It looks like some additional filtering is missing.

[2021-06-25 16:50] zaquestion opened #700 "Replace `git` with go-git library"
Multiple reasons to do this, one is speed, running library functions instead of execing `git` showed noticeable speedups when I experimented with this change over last time. 2nd is that one of the main complaints about `lab` is that `git` is a dependency, since we have an opportunity to (almost) completely remove this dep and speedup the tool at the same time we should definitely take it.

Some of

[2021-06-25 16:57] zaquestion opened #701 "Deprecate wrapping `git` in favor of reccomended aliases"
Purpose here is to completely remove `git` from `lab`. We can do this without losing the nice syntactic sugar we've been accustomed to as well by using git aliases http://git-scm.com/book/en/v2/Git-Basics-Git-Aliases

Instead of wrapping git and passing through unknown commands to git, we can use git aliases to recognize lab commands and execute through lab. Google does this with their codereview

[2021-06-25 17:22] bmeneguele commented on #700
+1 for using go-git (do you mean https://github.com/go-git/go-git, right?)! I'm not sure how better/faster it would be, but for sure it seems more suitable than calling git cli directly.

[2021-06-27 21:40] #162 closed

[2021-06-28 15:24] temp commented on #240
@bmeneguele works fine now! 👍
it would be awesome to be able to specify the wait-seconds, but this is really nice-to-have... ;-)

[2021-06-28 17:41] bmeneguele commented on #240
I'm glad to hear that :)

Hmm... a timeout behavior? That's something to think about indeed.
Why don't you open a new issue with this suggestion so we can check it more "formally"?
It should be easy to make it happen.

[2021-06-28 20:26] temp commented on #240
Oh, no, I meant the wait time between 2 polls. Have seen the 1-second-wait in the sources. But for long running pipelines it would be ok to poll 5-15 seconds, to avoid hammering. Like I said, it's only a nice to have.

[2021-06-28 20:27] temp commented on #240
Here is the snippet:

[code]

[2021-06-28 20:35] claytonrcarter commented on #240
Yup, when I fixed this feature, I picked 1s out of thin air! Adding a flag to configure the polling interval would be a trivial change; a great first issue/PR.

[2021-06-29 15:09] bmeneguele commented on #240
Ahh, got it!
Yes! for sure it would be a really nice "first issue".

[2021-06-30 21:07] j-a-m-l commented on #317
Thanks!

[2021-07-01 20:09] #699 closed

[2021-07-02 14:03] zampierilucas opened #708 "mr un/approve: If -F, un/approve completes even if file read failed"
When using the -F, file, option, if the file read failed for any reason, the operation continues, ignoring the file comment.
In the example below, the user will unapprove the MR without submitting the message that he wanted.
[code]
![image](https://user-images.githubusercontent.com/25491728/124285112-fffc5f80-db23-11eb-97e6-1ee30d0cc37e.png)

it is possible that the same problem may occur in other

[2021-07-02 20:08] zampierilucas commented on #628
That might be possible using the [Gitlab Advanced search](https://docs.gitlab.com/ee/api/search.html#advanced-search-api), and I see that go-GitLab does support it.

[2021-07-06 19:29] zampierilucas opened #710 "mr show: --since seems to be broken"
Something might be changed on `--since` filter for `lab mr show`, since I cannot filter by date anymore.

<details>
    <summary>Example!</summary>

    ❯ lab mr show origin -c -M --since "2021-07-06 19:08:50.000 +0000 UTC" --no-pager
    !29 hello \nworld
    ===================================
    world\n  hello
    iaaaaa
    -----------------------------------
    Project: lzampier/kernel-test

[2021-07-07 06:15] davinkevin opened #712 "manual job is launched when ESC is used to cancel the prompt"
Hi,

In a pipeline visualisation, on a manual job, if I hit `r` to launch one I have the following screen:

![image](https://user-images.githubusercontent.com/1970922/124709094-63f39f00-defb-11eb-9ed7-f4c83d17dc0e.png)

If I use `ESC` to cancel the prompt, the job is launched by `lab` 😓.

I don't know what to add to this issue, which seem to be pretty basic. Let me know if you need some extra info

[2021-07-07 14:10] Tranquility opened #713 "Show todos across all projects"
I couldn't find a flag for it but it would be very useful.

[2021-07-08 17:40] bmeneguele commented on #712
Yeah, that's unfortunate.
I never really dove into this part of the code. But the way it's implemented turns the "yes" option, indirectly, the default option when nothing is set. I think that when it was coded no one really thought about hitting ESC :). It seems an easy fix though.

I'm fixing other small issues across the CI code, I might take care of this one too.

Thanks for the report @davinke

[2021-07-08 19:28] zampierilucas commented on #633
My view is that we should always check for the MR head, and if the head changed, notify the user and exit out with an error message. That way we will avoid users approving PRs that they didn't intend to.
We could also add a `--force` option so the user can approve even if the head changed.

[2021-07-08 19:54] zampierilucas commented on #710
The same problem occurs on `lab issue show`.

[2021-07-08 20:02] davinkevin commented on #712
Thank you !

[2021-07-09 11:21] prarit commented on #710
Odd, I'll take a look today.  I'm sure it's something trivial as it does work when using `lab mr show --comments`.

[2021-07-09 18:00] prarit commented on #710
The issue here is that the timezone is expected to be UTC in the input and the output.  I've tried to document that in the help for the command.

[2021-07-09 18:06] zampierilucas commented on #710
@prarit Are you saying the format on the example is wrong?

[2021-07-09 20:09] prarit commented on #710
It's tough to see on the page.  Are the dates "highlighted" after 2021-07-06 19:08:50.000 +0000 UTC ?

[2021-07-09 20:10] prarit commented on #710
Wait ... It just occurred to me what might be wrong.  Are you thinking that the --since command will only print comments after a certain date?

[2021-07-09 20:19] zampierilucas commented on #710
@prarit YES!! wait, is it's not like that?

[2021-07-09 20:22] prarit commented on #710
No. It doesn't work like that.  It only highlights comments after the date.

[2021-07-09 20:27] zampierilucas commented on #710
@prarit  Ok then, my apologies then, I will close this then.

[2021-07-09 20:27] #710 closed

[2021-07-21 20:15] zaquestion commented on #633
I'm in favor of enabling this by default, if we're to support fully reviewing MRs from the command line we'll certainly need to give the confidence that what you're approving is what you're reviewed. This is basically optimistic locking for code review :D

I'm not sure what the rationale for not enabling this by default would be? In most cases the users likely won't notice, until it stops them fro

[2021-07-21 21:44] zaquestion commented on #8
I wouldn't be surprised if this is still an issue. That said I think the bigger/more important update to make is https://github.com/zaquestion/lab/issues/334

[2021-07-27 03:47] zaquestion commented on #712
oh goodness, that's horrid, almost certainly a miss on my part, that `ci view` stuff is kinda sketchy. sorry! I hope the consequence of this didn't break anything too badly 🙏

[2021-07-27 04:02] zaquestion opened #718 "Possible config loading bug on `master`"
After `git pull origin master && make install`
[code]
Even if I blow away my config I get these errors, and it doesn't seem to prompt me to put in new creds.

[2021-07-27 04:35] davinkevin commented on #712
Not for me, but some were surprised… hopefully they can restart the pipeline to rebuild the infrastructure 😇.

[2021-07-27 04:49] zaquestion commented on #718
Turns out doing a `make install` builds lab and puts a `./lab` binary in the same directory as where I was running lab, lab see that and evidently tries to load it as a config file. Deleting it works around the issue, but lab probably shouldn't try to load binaries, leaving this open in case there's something to be done about it.

[2021-07-27 04:54] zaquestion commented on #712
Fix in https://github.com/zaquestion/lab/pull/719

[2021-07-27 04:58] zaquestion commented on #712
Not sure if the bug or the fix is more embarrassing, this cup of shame run'th deep for sure. Thanks for being such a long time user @davinkevin ! ❤️

[2021-07-28 03:00] bmeneguele commented on #633
The only reason for not enabling it by default, from my perspective, is to not break the current behavior. But as you well said, I also don't think most users will notice, until they face the real mismatch situation. So, yep, I'm also in favor of enabling it by default and, as mentioned by @zampierilucas, possibly adding a "--force"-like option for the fearless user (`rm -rf` exists for a reason,

[2021-08-09 18:06] bmeneguele opened #725 "CI commands lack support choosing bridged job"
Any `lab ci` command doesn't give the user the opportunity to choose what bridged job inside a pipeline he wants to manipulate in case his project has more than one. When multiple bridged jobs are available in the CI pipeline of a project, the last one is shown. Another problem is that the API doesn't guarantee the returned order, so sometimes it'll be one bridged job, other times, another.

[2021-08-10 23:04] bmeneguele opened #727 "Update CI downstream pipeline code to use API project_id field"
So far, the CI downstream pipeline code has butchered the WebURL field from API responses to get the correct downstream project ID for following the pipeline (bridge jobs):

https://github.com/zaquestion/lab/blob/5a1fd5d7512ef9b457630920cf1374ff81c081c7/internal/gitlab/gitlab.go#L1273-L1293

However, out of sudden, Gitlab API started to respond the downstream pipeline information containing the `p

[2021-08-10 23:14] bmeneguele opened #728 "Fix CI commands for merge request pipelines"
As far as I could check, some CI commands are not ready to work with merge-request CI pipelines, but only with project-level pipelines. This issues will be used as a tracker to point what are the features we're lacking in what command.

- [ ] Create a merge-request pipeline for a specific MR (that might not have any)
- [ ] Allow retry of individual MR pipeline jobs
- [ ] ...

As I find more missin

[2021-08-10 23:25] bmeneguele opened #729 "Fix pager not being closed after command failure"
The way the pager is getting closed today is by using deferred code:

https://github.com/zaquestion/lab/blob/5a1fd5d7512ef9b457630920cf1374ff81c081c7/cmd/ci_status.go#L52-L53

However, in case an error occurs in the middle of a pager session and a `log.Fatal()` is used the `pager.Close()` is never called.
Per Golang documentation, the `log.Fatal()` call terminates the program abruptly, without cle

[2021-08-11 14:08] bmeneguele commented on #727
Ok, it seems https://github.com/xanzy/go-gitlab/pull/1187 was already merged \o/.
Once it's released in a fixed version I'll update our code.

[2021-08-11 20:28] #725 closed

[2021-08-12 19:29] #727 closed

[2021-08-17 13:55] zampierilucas commented on #708
@bmeneguele @prarit any input on this one? :)

[2021-08-17 13:58] prarit commented on #708
Huh, I thought the log.Fatal(err) would have stopped lab.  But yes, an os.Exit(1) there is fine.

[2021-08-17 14:08] zampierilucas commented on #708
@prarit on a quick search, I found that log.Fatal() __should__ call os.Exit(1).
I will investigate further this issue

[2021-08-17 14:34] bmeneguele commented on #708
Oh, yes. The `log.Fatal()` calls the `os.Exit()` it should not help to solve the problem.
The issue here might be the way `log.Fatal()` works, it doesn't close file descriptors nor running deferred code.
#729 might be related.

[2021-08-17 14:38] bmeneguele commented on #708
Just to clarify: even though we have a custom log layer, our `log.Fatal()` still calls the default golang/logging `log.Fatal()`, so the behavior is kept.

https://github.com/zaquestion/lab/blob/833faebfaed0adde96ab9fdd55ab2039d48eb1d7/internal/logger/logger.go#L117-L133

[2021-08-20 13:53] prarit opened #732 "note vs discussion comment difference"
I noticed this while working on the commit comment code but felt it was slightly out of scope for that changeset.

When you start a comment with 'mr note' lab adds, for example:
[code]

And when you start a discussion with 'mr discussion' lab adds, for example:

[code]

These really should be the same.  I'll work on a changeset today to synchronize the messaging.

[2021-09-01 08:12] snowhork opened #736 "Can't we run the specified job in current pipeline with one line?"
Hi, is it unable to run the specified job in current pipeline with one line? (not using `ci view`)

Like this:

[code]

Thanks,

[2021-09-09 20:02] darcari opened #739 "it would be nice if lab had an '-e' option which would open the editor"
For example, a user executing the following command:

lab mr create --draft origin -F <filename>

might want to specify an  option so that the file which is used as a template for the MR can be edited before the MR
is created.  For example:

lab mr create --draft origin -F <filename> -e

@prarit

[2021-09-09 22:58] prarit commented on #739
"-f" (lowercase) isn't used.  What if we used -f filename instead to accept a file and open the editor instead of requiring two options?

[2021-09-10 11:32] darcari commented on #739
Hmm my "filename" reference after the -F was dropped.  Regardless, '-f' would work for me.  IIRC the editor is opened with 'lab mr create' with the exception of the -F argument.  So that's probably a better solution.

[2021-09-10 12:08] prarit commented on #739
@bmeneguele @zampierilucas @zaquestion  any objections to using lowercase -f to allow users to specify a file AND open the editor?

[2021-09-11 12:38] bmeneguele commented on #739
No objections at all.
That's a really nice feature to have and -f seems fine to me.

[2021-09-21 18:17] jdmichaud opened #742 "Raise an error (or a warning) if a provided file is inaccessible"
If the file provided to the `--file` option is not accessible (no read access or wrong path) `lab` just fails silently as if no file were provided. It makes troubleshooting more difficult than it needs to be, for example if there is subtle typo in the path.

Raising an error or at least a warning that the provided file is invalid would enhance the user experience.

[2021-09-21 18:26] zampierilucas commented on #742
@jdmichaud Thank you for your issue :D, I'm dealing with something similar in https://github.com/zaquestion/lab/issues/708, but I do get a warning when the path is wrong, which command are you experience this issue?

[2021-09-22 06:25] jdmichaud commented on #742
@zampierilucas If I am doing this:
[code]
And I get this error:
[code]
If I were to call `lab me create` with no additional option, I would get the same error message. If `lab` were to explicitly warn of inaccessible file, it would improve the UX experience.

[2021-09-22 10:02] prarit commented on #742
This should be easy to warn on.  I'll take a look.

[2021-09-22 15:54] matrixise commented on #153
any news about this issue, thank you

[2021-09-22 17:22] #742 closed

[2021-09-23 13:00] prarit commented on #153
I think this died on the vine so to speak.  Re-reading back through this you want to do

[code]
I'll look into it.

[2021-09-27 11:57] prarit commented on #153
@matrixise , I took a look at implementing this.  I've always created a branch, pushed the branch, and then created an MR on that branch (via lab and the GitLab webUI).  I have a public test project [1] where I've created an issue [2] but do not see a "Create a Merge Request" option.  Is there something obvious I'm missing?

I do see that GitLab Quick Actions [3] support the creation of an MR from

[2021-09-28 00:36] prarit commented on #153
@bmeneguele @zampierilucas I suppose we could do this one with quick actions as well?  What do you two think?

[2021-09-28 12:00] zampierilucas commented on #153
@prarit The criteria for the create_merge_request_button and /create_merge_requuest working is[1]:

Which we could use the quick actions to tackle, but I haven't found any API return that confirms if the criteria listed above has met.
One other thing that we could do is, create a Mr that contains a message with "Fixes: Issue123" which links the Mr and the issue. That is if we cannot use the gitlab

[2021-09-30 22:41] #708 closed

[2021-10-04 15:27] bmeneguele commented on #736
Sorry the delay folks. The PR #734 was merged without the changes I was expecting due to some discussion in one of the changes. I'm preparing a new PR for handling the whole feature.

[2021-10-05 00:51] BrainBlasted opened #747 "`lab mr create` does not work when the editor takes arguments"
I have `core.editor` set to `flatpak run --file-forwarding re.sonny.Commit @@` - this opens [Commit](https://github.com/sonnyp/Commit) in a new window, and it doesn't need to be installed on the host. This works fine for `git commit`, but `lab` parses the arguments after `flatpak` as one big argument:

[code]

[2021-10-05 13:24] bmeneguele commented on #747
Oh, thanks for the report! I'm going to look into it.

[2021-10-05 20:03] bmeneguele commented on #747
@BrainBlasted as soon as #748 is merged your issue should be fixed.

[2021-10-06 02:13] BrainBlasted commented on #747
Awesome - thanks for the fast response :)

[2021-10-06 12:45] zampierilucas opened #749 "Standardize and track arguments through different commands"
This is an initiative to track and discuss changes related to standardizing different arguments through lab.

[2021-10-06 12:46] zampierilucas commented on #749
The first proposal that came up has
* Add --no-edit and --edit, so the same behavior can be used alongside other flags (i.e. -m).
* make opening the editor the default behavior.
* Remote --with-comments completely in favor of --edit/--no-edit

[2021-10-07 17:08] davidvandebunte opened #750 "lab ci artifacts ignores `branch` argument"
I'm not sure if I'm totally missing something, but it seems like `lab ci artifacts` ignores the `branch` argument and always pull the artifacts from the latest job. I'm using completion to fill in the branch name.

For example I have a branch `feat_a` that completes with artifacts, then push a branch `feat_b` that generates artifacts. If I run:
[code]

Then `lab` downloads the artifacts for `feat_

[2021-10-08 19:46] bmeneguele commented on #750
@davidvandebunte as soon as #751 is integrated, the issue should be fixed.

[2021-10-14 02:04] #750 closed

[2021-10-26 00:10] prarit opened #756 ""lab ci artifacts --merge-request --follow" fails to download available artifacts if pipeline has failed."
The 'lab ci artifacts' determines the pipeline ID from the merge request structure.  The mergerequest.pipelineID pointer is only set if the pipeline has been successful.

If the pipeline is not successful, it is not possible to download the artifacts even if the pipeline has failed artifacts available.

There are two commands that should be implemented.  The first is to return a human readable rep

[2021-10-26 16:10] #756 closed, assigned to bmeneg

[2021-12-06 20:18] bmeneg opened #765 "discussion on commits failing due to invalid line code"
When I comment in a commit with `lab mr discussion --commit <sha>` but in a line surrounding the actual code touched by the change I receive the following error:
[code]
For instance, the commit is:
[code]
If I add a comment after `VERSION = 4` the mentioned error happens.

@prarit is it expected? Is there a "valid scope" that the user is allowed to comment?

[2021-12-06 20:27] prarit commented on #765
That's interesting.  So you attempted to comment on, for example, line 3?

[2021-12-06 20:28] prarit commented on #765
Hmm ... I never tried it :) Let me try a few things.  I would have thought that should work given that line is technically part of the change.

[2021-12-06 21:03] krobelus commented on #765
yeah this is some weirdness in the gitlab API - when commenting on context lines we need to pass two line numbers, the old and the new one. The fix below should work:

BTW I never realized that commenting on lines was already possible like this.

Sadly we have a misconfiguration at work that prevents us from using URL-encoded paths like `user%2frepo`, which is why I'm not using lab. In my scripts

[2021-12-06 21:07] JohnVillalovos opened #766 "When running `lab` in a directory where there is a `lab` file it fails"
[code]

I make an empty file named `lab` in my directory.

[code]

`lab` gets run from a different directory.

[code]

Delete the empty `lab` file and it works

[code]

# 😵

[2021-12-06 22:08] prarit commented on #766
This occurs because in earlier versions of 'lab' the ./lab file was used as a config file that held the GitLab Token.  This file has been moved to .config/lab/lab.toml, however, we still support the old config file for old versions.

[2021-12-06 22:08] prarit commented on #766
And :) :) HOW ARE THINGS GOING JOHN?! :)

[2021-12-06 23:31] JohnVillalovos commented on #766
Hey Prarit! Things are going well 😊. I enjoyed watching your presentation about Gitlab and the RHEL kernel process you and DonZ did for devconf.cz a year or two ago.

Thanks for the explanation. Maybe that functionality could be deprecated? Doing `--debug` gave no info on what was going on so I was a bit confused.

[2021-12-07 00:19] JohnVillalovos commented on #766
As a note. I went and tested this on tip and it actually works. So I decided to `git bisect` it because I was bored.

The commit that fixed this issue is:

[code]

[2021-12-07 00:24] JohnVillalovos commented on #766
This was fixed by: https://github.com/zaquestion/lab/pull/753

Closing and hoping for a new release soon-ish.

[2021-12-07 00:24] #766 closed

[2021-12-08 01:54] JohnVillalovos opened #767 "CI_JOB_TOKEN interferes with LAB_CORE_TOKEN"
I am trying to use `lab` in the Gitlab CI but wanted to use a different token then the one found in `CI_JOB_TOKEN`.

So I set both `LAB_CORE_HOST` and `LAB_CORE_TOKEN`.

[code]

And attempted the following:

[code]

But when I did:
[code]

[2021-12-08 17:05] bmeneg commented on #765
@krobelus don't you want to open a PR with this fix?
Otherwise I'll have to steal your solution :smile:

[2021-12-08 17:15] bmeneg commented on #767
Yes, that indeed happens: when using lab within a CI the variables `CI_JOB_TOKEN`, `CI_PROJECT_URL`, `CI_PROJECT_PATH` and `GITLAB_USER_LOGIN` takes precedence over the LAB_* ones.

You can check our `.gitlab-ci.yml` file and see that we actually assign the real value to the LAB_* first, then assign the CI_* vars based on the LAB_* that we just set.

[2021-12-08 17:21] JohnVillalovos commented on #767
Okay. Well the the project README lists them in order and 1 is LAB_CORE_* which would seem to imply it has precedence over the others is how I read it.

[2021-12-08 17:25] JohnVillalovos commented on #767
Looking at https://github.com/zaquestion/lab/blob/e1100d31c32ecc9cdf9b469162dbbe4cc46eb9b5/.gitlab-ci.yml#L56-L58

Seems strange to me as someone unfamiliar with the project why `CI_JOB_TOKEN` gets set to `CI_PROJECT_URL` which was set to `LAB_CORE_HOST` which was set to `https://gitlab.com` if I am reading that correctly.

I'll be honest that confuses my little brain 😊

[2021-12-08 17:29] krobelus commented on #765
Yeah please go ahead and steal it. I'll open a PR next time.

[2021-12-08 17:30] JohnVillalovos commented on #767
Ah! Farther down it makes more sense:

https://github.com/zaquestion/lab/blob/e1100d31c32ecc9cdf9b469162dbbe4cc46eb9b5/.gitlab-ci.yml#L68-L78

[2021-12-08 17:56] JohnVillalovos commented on #767
@bmeneg I created a PR with a documentation update #768 to close this issue.

[2021-12-08 18:14] bmeneg commented on #767
Ohh, it seems broken indeed! lol
But the exports solves it. But yeah, should be fixed I think. (and even removed if not being really used. I'll check it further).

[2021-12-09 20:07] prarit commented on #765
Needs a bit of massaging.  I get some panics and failures.  Looking at it now.

[2021-12-09 20:18] prarit commented on #765
I looked at this and realized it was very similar to my first attempt at writing a parser for the diff.  This doesn't work :( because you can have a diff file like:

[code]

[code]

[2021-12-09 20:29] krobelus commented on #765
TBH this format looks a bit overly explicit. Why not use the standard diff format, and compute the various line numbers on the fly?
Feels like we are exposing implementation details that the user doesn't care about.

[2021-12-09 20:31] prarit commented on #765
I want it to match the webUI output which shows those line numbers.  In any case I'm fixing your changeset now.  I think I have an easy way forward.

[2021-12-10 12:48] bmeneg commented on #765
Oh, I was doing that too :) will leave it to you.

As @prarit said, it's not really implementation detail, but trying to match webui diff style. One problem with the usual diff format is identifying comments in between lines: it would require some education from users to enclose their comments with empty lines or use another special char to indicate that line isn't part of the actual diff, but a c

[2021-12-14 14:45] cmaiolino opened #772 "lab shouldn't change a MR status when no status change is specified"
When using lab tool to edit a MR in "draft" status, the tool also ended up implicitly changing the MR status from 'draft' to 'ready'.
Unless --ready or --draft is specified, IMHO the lab tool shouldn't be changing the MR status.

[2021-12-14 14:52] bmeneg commented on #772
Ok, I second your opinion that lab should preserve the state there.
I already saw where in the code we can have it resolved. Will prepare the PR and submit it asap.

Many thanks for the report @cmaiolino

[2021-12-14 15:24] bmeneg commented on #772
Oh, I just noticed that it should not be possible per lab code.
The draft state is selected based on the title prefix ("Draft:"), following how GitLab checks it.
If you remove that prefix, GitLab will move the MR to "ready". Annoying? Yeah, pretty much, I agree :-(

[2021-12-14 15:32] cmaiolino commented on #772
Great! Sorry the noise then, and thanks for the heads up about it... 'Draft' mode depends on the MR's subject :)

Cheers!

[2021-12-14 15:32] #772 closed

[2021-12-20 19:24] github-cygwin opened #773 "lab 0.23.0: `mr show -c' fails in git worktree"
Hi,

I just encountered the issue from the subject line.  While
`lab mr show <MR#>`
works nicely in a worktree,
`lab mr show -c <MR#>`
fails with ERROR: config.go:364: open .git/lab/lab.toml: not a directory
The reason is apparently that .git is a file in a worktree, rather than a directory.  Looks like following the gitdir info in the worktree .git file is not implemented yet?

Corinna

[2022-01-03 18:51] claytonrcarter opened #774 "`mr checkout`: specify the tracking remote"
I don't use the "1 remote/author" workflow at work; instead we all push branches to a single, shared `origin` where only some of us have permission to merge to `main`. As written, `mr checkout -t <id>` will create/update a remote named after the MR author. In my case, this ends up w/ 2 remotes both pointing to the same URL, which doesn't feel helpful to me. I have hacked around this locally, but b

[2022-01-03 20:09] krobelus commented on #774
On Mon, Jan 03, 2022 at 10:52:04AM -0800, claytonrcarter wrote:

I use the same workflow, so yes, that sounds useful.

I didn't look into the UI, but maybe we can use the remote specified in `git config remote.pushDefault`.

[2022-01-05 19:43] bmeneg commented on #773
Hi Corinna,

We already have the code for following the gitdir, but it isn't being used where it should.
I'm going to submit a PR correcting it.

[2022-01-05 21:14] bmeneg commented on #774
It seems indeed useful and I would like to test it myself actually :)
Even though I don't use this workflow I already saw other places/friends using it.

Yeah, it would require to specify two flags with the same name, being one a bool and the other string, otherwise the second bullet will eat the following string in the CLI as the flag value (even if the next string starts with `--`, which would i

[2022-01-12 21:29] #773 closed

[2022-01-27 17:49] JohnVillalovos opened #777 "About text should be updated to remove reference to usage as a wrapper"
Currently the "About" text says:

[code]

From my understanding the project has moved away from recommending `lab` as a wrapper around `git`.

This is the "About" text seen when going to: https://github.com/zaquestion/lab

[2022-01-27 17:53] JohnVillalovos commented on #777
And probably the README should be updated also to remove examples of using as a wrapper.

[2022-02-01 22:15] claytonrcarter opened #780 "`mr checkout`: proposing misc updates"
Hi, I'd like to propose a handful of updates to `mr checkout`:

1. I'd like to add a `co` alias so that I can just do `lab mr co 123`
2. When calling `lab mr checkout` for an MR that you've already checked out, `lab` throws an error b/c the branch already exists. I would like to discuss the possibility of *not* erroring and instead just printing a warning and checking out the branch. I would find

[2022-02-03 09:01] syphernl opened #782 "Unable to create projects in (nested) subgroup"
I'm trying to create a bunch of projects in a nested subgroup, which according to #450 should work.

In my case it however errors out:
[code]

The `org/tools/components` subgroup exists.

[2022-02-03 13:27] bmeneg commented on #782
Hi @syphernl,

Are you sure your user has write access in the group-level so you can create a new project there?
You must have at least `developer` role and your API token also must have been created with the `api` access checkbox set.

[2022-02-03 13:33] syphernl commented on #782
Hi @bmeneg,

Creating projects in the webui works just fine. The token is scoped to `api` and offers `owner` permissions in the Gitlab Group. Should be enough ;-)

I have just tried with a fresh token (which uses the `glpat` prefix) but that one fails as well.

[2022-02-03 14:40] bmeneg commented on #782
Ok. That's odd.
Even though I can't reproduce the failure we (I pinged @zampierilucas to help) found something odd in the code indeed.
As soon as I have something I'll open an PR and ask you to test.

[2022-02-03 20:37] bmeneg commented on #782
@syphernl would you mind testing the PR #784 changes in your environment ?

[2022-02-03 20:39] bmeneg commented on #777
@JohnVillalovos yes, well pointed!
This rewording should've happened some time ago already.
I'll add it to my TODO list for next week.

[2022-02-03 20:41] bmeneg commented on #765
Fixed by #771

[2022-02-03 20:41] #765 closed

[2022-02-04 13:46] fmuellner commented on #774
Wouldn't it be better to detect that the MR remote matches the default remote and pick that automatically? The proposed CLI flag sounds like a workaround for something that shouldn't be done in the first place.

[2022-02-04 14:06] bmeneg commented on #774
@fmuellner That's actually a pretty good point.
The checkout should track the remote from where that mr is coming from and we have this information available.

[2022-02-06 04:25] jcengland opened #787 "host not being set if caFile is set."
After setting the caFile directive in the `lab.toml` file due to using a self signed cert I get the following error:
[code]
`host` is set in `lab.toml` :
[code]
But this did look like `host` was not set.  Let me say I know little about go so this could be way off base so take this with a grain of salt.  It seems that in the function `InitWithCustomCA` has `_host` passed in but `host = _host` is ne

[2022-02-07 12:57] syphernl commented on #782
@bmeneg I have tested it, it does a bit more than before but I wasn't able to create a project with it just yet.

[code]

[2022-02-07 13:06] bmeneg commented on #782
Hmm, ok. That's indeed broken.
Let me check it again.

[2022-02-07 15:39] bmeneg commented on #782
@syphernl ok, can you test it again?

Just a note for the error about `remote origin already exists.`: it happened because you created the project from within a repo dir and lab tried to create an "origin" remote to refer to the newly created project. I added a commit in the PR to remove this _default_ behavior, now, if you really want to create a remote pointing to the new project you can pass th

[2022-02-07 20:33] bmeneg commented on #787
Hey @jcengland , thanks for the report!

And yes. You're right.
I think it was never really spotted before just because no one really used it before neither, obviously, tested (what surprises me tbh).

I'm going to submit a PR and let you test it before merging.

[2022-02-07 20:40] bmeneg commented on #787
@jcengland would you mind testing #788 in your environment?

[2022-02-08 01:22] jcengland commented on #787
That worked!  Thanks for getting that fixed.

Clay

[2022-02-08 07:08] syphernl commented on #782
@bmeneg Now I'm getting an error that the group doesn't exist:

[code]

[2022-02-08 17:23] #774 closed

[2022-02-08 17:23] #787 closed

[2022-02-08 18:26] bmeneg commented on #127
This feature has been implemented for quite some time already and since we had no feedback for my last comment I'm going to close it as "solved".

But feel free to reopen it if needed.

[2022-02-09 07:30] syphernl commented on #782
@bmeneg Seems to be working fine now! 👍🏻
[code]

[2022-02-09 10:33] bmeneg commented on #782
Closing this issue based on @syphernl feedback and MR review.

Many thanks.

[2022-02-09 10:33] #782 closed

[2022-02-09 10:39] syphernl commented on #782
Thanks for your quick help & fix @bmeneg !

[2022-02-10 05:28] georgexsh opened #789 "shell completion command failed when cwd is local git repo"
I am using lab version 0.23.0, bash 5.1, steps to reproduce this issue:

- create a git repo without remote: `RAND=$RANDOM; mkdir /tmp/$RAND; cd /tmp/$RAND; git init`
- run `source <(lab completion)`
- got error: `2022/02/10: No such file or directory`

`lab completion` [outputs a line of log](https://github.com/zaquestion/lab/blob/8ab707a74bee416ba35090208cc4c7f6f67c8c2d/cmd/root.go#L203) to `std

[2022-02-10 13:59] zampierilucas commented on #700
I think we should consider https://github.com/libgit2/git2go, as it is the library that Gitlab/Gitaly uses.

[2022-02-10 14:09] bmeneg commented on #700
Oh, ok, that's interesting. This seems indeed the "officially supported" module for libgit2. However I think the goal of using go-git is to eliminate the need for any system executable/library dependency and since git2go is basically a set of bindings to libgit2 the C library itself is required. Using go-git would allow a single `go build` to have everything up and running and I think go-git has e

[2022-02-10 14:47] prarit opened #790 "editor starts on non-editing commands"
@bmeneg, commit 66c580f8cf16 ("cmd/edit: accept linebreak flag for editing description") significantly changed the behavior of the 'lab mr edit' command.  Previous to this commit, 'lab mr edit --ready' or 'lab mr edit --draft' or 'lab mr edit --reviewer' would not open up an editor.

After the commit, the editor ALWAYS opens.  This code likely should not have been removed:
[code]

[2022-02-10 15:05] bmeneg commented on #790
Ooops. That's, for sure, not what I wanted to do. That's really strange.
Let me fix it real quick!

[2022-02-10 19:10] bmeneg commented on #789
@georgexsh #792 should solve the issue with `lab completion`.

[2022-02-10 20:11] bmeneg commented on #780
1 and 3 are pretty easy changes.
2 needs more work, but is indeed a good idea IMO.

Since I just reworked part of the mr_checkout code, I'm going to prepare the PR to get it done, is that fine by you?

[2022-02-10 20:22] claytonrcarter commented on #780
Oh yeah!

[2022-02-10 20:57] bmeneg commented on #780
@claytonrcarter actually, thinking a bit more about the item 2.. I'm not sure if that's the right move tbh. Overall, we prefer that lab uses the same standards used by Git, since people are more used to it then a "new behavior". When the user asks Git to checkout to a new branch `git checkout -b <branch>`, but the branch already exists, it errors out instead of trusting the user and warning about

[2022-02-11 11:02] bmeneg commented on #712
Oops, we forgot to close this issue back when the fix was released.
Closing it.

[2022-02-11 11:02] #712 closed

[2022-02-11 14:23] bmeneg commented on #789
I'm going to close this issue.
But in case you see any other problems, please feel free to reopen it or open a new issue!

Many thanks for the report @georgexsh

[2022-02-11 14:23] #789 closed

[2022-02-11 19:22] bmeneg commented on #381
Ok, after some time I came back to this and just now I realized that an URL can only be used as remote for `git push`, while I can't add an actual remote with this name. It eases our lives a bit, since we don't need to worry about an URL being passed as one of the commands CLI arguments.

[2022-02-12 10:22] georgexsh commented on #789
@bmeneg the fix works, thanks! but I still wonder why the logs would be writing to `stdout`.

[2022-02-12 11:48] bmeneg commented on #789
@georgexsh That's a valid point: not sure why, but when I wrote the logs I let only the "error" level to be written to stderr, while others "info, warn and debug" would go stdout.

But yes, anything that isn't part of the program's standard output, shouldn't go to stdout.
I'm going to prepare another PR suggesting this change.

[2022-02-14 19:26] bmeneg commented on #790
@prarit I tested it locally and seems to be working as expected and as we talked before.
I'm going to merge the PR to avoid surprises to other users. If you test it later and find any other issues, please let me know.

[2022-02-15 15:59] #790 closed

[2022-02-16 08:59] temp opened #796 "M1 / arm version?"
Would it be possible to provide a version of lab for Apple M1/arm?
Or can I use the regular arm version?

[2022-02-17 07:55] temp commented on #796
Hi @bmeneg clone/make worked like a charm, thx!

[2022-02-19 21:18] hoijui opened #805 "README: Link to syntax for the TOML config"
.. or give help in any other way, where the TOML config is first mentioned, about how the config file should look like.

[2022-02-19 21:18] hoijui commented on #805
great project btw. thank you! :-)

[2022-02-21 06:30] hoijui opened #806 "Allow to create project under different organization"
In my use-case, I need to create a project:

1. [x] on our local gitlab server
2. [x] under a sub-sub-group
3. [ ] under an organization (as in: not my user)

... all in one.
I have 1. working, and 2. should also be possible with https://github.com/zaquestion/lab/pull/450,
but it seems 3. is not possible with lab yet, or did I miss it?

PS: I do have the rights to create repos there; it works thro

[2022-02-21 06:40] hoijui commented on #806
never-mind, I guess... It should be possible already, nad I was just confused by the error message.
NOTE to self: what GitHub calls "organization" is called "group" on GitLab.
sorry! and thanks for `lab`, again! :-)

[2022-02-21 06:40] #806 closed

[2022-02-21 07:18] hoijui commented on #806
yes! is possible!
needed a later version of `lab`, and then setting the group and subgroup (aka namespace) with `-g`.

[2022-02-21 12:31] prarit commented on #805
Great suggestion @hoijui.

Would an example like

[code]

work for you?

[2022-02-21 12:32] prarit commented on #780
Just a :+1: for the 'co' alias LOL :)  I have 'git co' aliased and I find myself typing 'lab co 123' all the time :)

[2022-02-21 12:34] prarit commented on #777
@bemeng, did you get this done?

[2022-02-21 12:57] claytonrcarter commented on #780
Yes, this makes sense and I think it's fine.

It does expose a little bit of friction between how we expect `git` to act vs how we expect `lab` to act, though. In your example, `git checkout <branch>` will error if the branch does not exist, but `lab mr checkout <id>` is the _opposite_: it expects that branch not to exist and for `lab` to create it. So `lab mr checkout` is more in line w/ `git che

[2022-02-21 14:16] bmeneg commented on #777
@prarit not yet. But will do.

[2022-02-21 18:14] hoijui commented on #805
that looks good! :-)
If there were also a link to all the possible settings or something like that, I would be fully satisfied.

[2022-02-21 18:15] hoijui commented on #805
though @bmeneg 's suggestion also sounds good.. I certainly don;t know about it. ;-)

[2022-02-21 18:28] prarit commented on #805
Yeah :)  Perhaps a sentence indicating that any option can be set, and then a pointer to the simple example file above?

[2022-02-21 20:22] hoijui commented on #805
how do I know what "any option" means.. I would need a list of them.

[2022-02-21 20:58] bmeneg commented on #805
@hoijui any option == any available flag in the `--help`. The list would be exactly all the flags. Some of them makes sense to have a default value set, others done, but every flag can be set in the configuration file. Do you think that using "flag" instead of "option" would be clearer?

[2022-02-21 23:57] prarit commented on #805
The --help commands will provide this for you.  Let me fix the text to indicate that.

[2022-02-21 23:57] prarit commented on #805
Fixed.

[2022-02-22 06:26] hoijui commented on #805
AHA!! :O
YES! now it is perfect, thank you for the change, and you both for the explanation!
I honestly did not understand, it was about the CLI flags/options!

This issue should be closed when https://github.com/zaquestion/lab/pull/807 is merged.

[2022-02-22 13:59] claytonrcarter opened #810 "`issue`: add alias for just `i`?"
I hesitate to make this request b/c it might be workflow specific to me (or just me being laaaazy), but I use `lab issue` a lot and would love to have a built-in alias for just `lab i`.

**Considerations**
* aliases are currently used only for subcommands (ie `lab issue b` for `lab issue browse`) not top level commands
  * exceptions includes `lab repo` (alias for `lab project`) and `lab snip` (al

[2022-02-22 14:03] prarit commented on #810
@claytonrcarter , you're not the only one that has thought of this.  I too am "laaaazy" :) and have thought about the same thing.  I decided not to do it because I thought it was "too shorthand" if that makes any sense.  I've opted, like yourself, to have just alias commands like 'alias mrlist="lab mr list"'.

We're dropping the git passthrough code (@bmeneg has an MR on this IIRC) so the alias yo

[2022-02-22 14:24] #805 closed

[2022-02-22 14:26] bmeneg commented on #810
Yes, #809 should drop the passthrough logic altogether and I'll also update the README for recommending git-alias instead with some examples like yours and Prarit's.

I don't have a strong opinion about shortening top-level commands to one-letter, I would be fine with it, but at the same time we would need to get other commands the same shorthand and, probably, start handling shorthand conflicts m

[2022-02-22 14:33] prarit commented on #810
@bmeneg, as usual you hit the nail on the head.  My real concern is that we'd have to make this single letter alias for all commands and it would just get out-of-hand quickly.  @claytonrcarter, yeah it's a bit of a pain to use aliases but I do think for our own sanity ;) it would be best to continue to use them.

Of course, this does nothing to alleviate our mutual laziness :)

[2022-02-22 15:04] bmeneg commented on #810
@claytonrcarter check PR #811 for the README rework.

[2022-02-22 15:43] claytonrcarter commented on #810
Indeed, we're hopeless. :)

To be clear, my "workaround" was leveraging the pass through so that I could do `lab i`, which would pass through to git as `git i`, which then re-resolve it to `lab issue` ... yuck! But it works! For now ...

I certainly understand the concerns about it being "too shorthandy" (that was my main hesitance, too) but may I offer:
* `lab mr` and `lab ci` are already abbrevi

[2022-02-22 16:50] bmeneg commented on #810
Being honest.. I'm inclined to accept your offer :).
You hit the point about showing that we don't really need one-letter shorthand for all the commands: `todo` and `fork` are indeed already somewhat shorthand themselves.

Well, I think you won @claytonrcarter :D. I'm going to open the PR and let @prarit scream at me for that (or hug me? :smile:).

[2022-02-23 20:16] #701 closed

[2022-02-23 20:30] #810 closed

[2022-03-02 18:09] #777 closed

[2022-03-09 19:28] soullivaneuh opened #813 "Do not consider GitLab CI variables when LAB_CORE are equivalent set"
# Summary

Since upgrade from `0.17.2` to `0.23.0`, I have a `401` error on merge request creation from a CI job:

[code]

Here is the complete script:

<details>

[code]

</details>

Here, I use a custom set `GITLAB_TOKEN` to `LAB_CORE_TOKEN` because the default provided `CI_JOB_TOKEN` does not allow write operation to the API.

However, according to the [latest documentation](https://github.com/

[2022-03-09 19:39] soullivaneuh commented on #813
For people stuck on the same situation, the workaround is to temporary remove the not desired variable:

[code]

However, this solution is:

- Not fully reliable because it does not manage the other possible variable overrides (host, user).
- Very cumbersome. It force us to tweak system variable, with the occurring related risks.

[2022-03-10 18:27] bmeneg commented on #813
That's interesting. The doc was updated, but the code behaves like that for quite some time already.

It seems the issue is the big version bump :).

But I see what you're saying. I'm going to check the code and propose some changes there.

[2022-03-14 14:37] bmeneg commented on #796
@temp if you check the latest release (https://github.com/zaquestion/lab/releases/tag/v0.24.0) you should be able to download [lab_0.24.0_darwin_arm64.tar.gz](https://github.com/zaquestion/lab/releases/download/v0.24.0/lab_0.24.0_darwin_arm64.tar.gz) and run it in a MacOS M1 system.

With that, I'm closing this issue, but feel free to reopen it or ask anything else you need.

Many thanks.

[2022-03-14 17:47] SuperSandro2000 opened #814 "Handwritten changelog"
The auto generated changelog which only contains the commits is not useful. A handwritten one with the most important topics would be way more useful.

[2022-03-14 18:39] SuperSandro2000 commented on #814
I am talking about https://github.com/zaquestion/lab/releases/tag/v0.24.0. I am not sure if there are new features which I should know or if there are some deprecations and if I need to change some commands.

[2022-03-15 14:54] bmeneg commented on #814
@SuperSandro2000 100% agreed. Thanks for the report!
We should've already moved from this bad behavior of letting the commits there as is.
Another annoying thing we need to do is to run new releases more often, thus easing everyone's life on checking what changed from one version to another.

Starting on the next release (0.25.0.... or 1.0 ?? (🤯)) I'll make sure to make the release notes *useful*

[2022-03-17 20:09] camuso opened #816 "RFC: reviewer management, e.g. lab reviewer --add --remove --require"
The request is to add the ability to add and remove reviewers in an MR.

For example:

lab mr reviewer --add mumble,sprotz,hust
... adds reviewers mumble, sprotz, and hust to the mr.

lab mr approver --add aus
... adds aus as an approver to the mr

[2022-03-17 20:14] camuso commented on #816
OK, this is already there, mostly.

[2022-03-17 20:14] #816 closed

[2022-03-22 14:16] prarit opened #817 "CI_* variable deprecation"
@bmeneg @zampierilucas

https://docs.gitlab.com/ee/update/deprecations#ci_build_-predefined-variables

Just an FYI.  We need to think about this.

[2022-03-22 20:11] bmeneg commented on #817
I don't think it's a problem to us today: we don't use any of the `CI_BUILD_*` variables. We're already using vars with the up-to-date name, i.e. `CI_JOB_TOKEN`.

[2022-03-25 01:05] BradyHu opened #818 "lab mr merge does not work"
the lab version is 0.24.0
the gitlab version is GitLab Community Edition [13.12.15](https://gitlab.com/gitlab-org/gitlab-foss/-/tags/v13.12.15)

(ez-sdk-IyrY50Hh-py3.9) (base) ➜  ez-sdk git:(CI) ✗ lab mr create origin master -m "docker file"
https://gitlab.citydnatech.com/ez.cloud/ez-sdk/-/merge_requests/5/diffs
(ez-sdk-IyrY50Hh-py3.9) (base) ➜  ez-sdk git:(CI) ✗
(ez-sdk-IyrY50Hh-py3.9) (base) ➜

[2022-03-29 18:46] joe-lawrence opened #819 "mr create: accept default MR description"
We open new MRs with a command like:
[code]
and always use the default description that is loaded in the editor.  Is there a way to accept the default MR description from the command line?

Alternatively, should we just do something like?
[code]

[2022-03-29 19:07] bmeneg commented on #819
Both are valid, but I think the idea of having a `--no-edit` (like `git commit` has) builtin seems reasonable to me.
@prarit @zampierilucas what do you think? I can work on that if you guys agree with the proposal.

[2022-03-29 21:06] prarit commented on #819
IIRC 'lab mr create' behaves exactly like the webUI does.  If the number of commits is 1, then it defaults to using the commit description.  If the number of commits is greater than one then an empty title and description are provided.  The problem with changing this behavior is that we would be different than the webUI and I don't think that's what we want with the tool.  I do, however, agree tha

[2022-03-30 13:29] bmeneg commented on #819
@prarit, so, instead of
[code]
we would have
[code]
Meaning no user interaction.

[2022-04-04 19:13] prarit commented on #819
I see.  So the name is confusing to me.  Could we change that to --no-editor?

[2022-04-05 12:51] bmeneg commented on #819
I used `--no-edit` because that's the flag name used on git itself, ie. `git commit --amendo --no-edit`, making it easier for those used to use this flag there. But we can start with `--no-editor`.

[2022-04-05 13:01] zampierilucas commented on #819
IMO this is a great feature, I'm not sure how we took so long to add it :p
Also I would vouch for `--no-edit`, for the same reason as Bruno, I'm used to it because of git.

[2022-04-05 13:53] prarit commented on #819
Okey-doke "no-edit" wins :)

[2022-04-05 14:26] strowi opened #820 "hierarchical config places"
Hi,

i saw it is already possible to use worktree/user specific places. But what about real hierachical search order?
E.g. for `.gitconfig` it is possible to use sth. like to have the config used recursively (instead of adding it to every .git/lab/lab.toml

[code]

This would reduce the cost from adding the config to every repository to once per sub-directory.

kind regards,
strowi

[2022-04-07 16:07] claytonrcarter opened #822 "Support "GitLab-specific references" passed via CLI?"
GL supports [many different special "references"](https://docs.gitlab.com/ee/user/markdown.html#gitlab-specific-references) in markdown. These are the shortcuts like `#number` to refer to an issue or `!number` to refer to an MR. Although it doesn't come up super often, there are semi-regular cases where I want to paste something into the cli like `lab mr b <paste>` but my clipboard includes the `!

[2022-04-07 23:09] fmuellner commented on #822
A simple paste won't work, because without escaping, both `#` and `!` are interpreted by the shell before the argument reaches lab.

I'm not sure how much of a showstopper that is - on the one hand, adding quotes or `\` still seems easier than stripping the prefix, on the other hand it can be a bit confusing if you aren't aware of the issue:
[code]

[2022-04-08 01:46] claytonrcarter commented on #822
Tinkering tinkering ... I played w/ this and it seems like `strings.TrimLeft(args[1], "#!")` was enough to make it work. So even if it's not useful for the project ... it's easy enough for me to keep it patched locally. 😄

[2022-04-08 20:47] fmuellner commented on #822
Oh, it's not up to me to consider the issue, I was only commenting from the sidelines :joy:  (while being sympathetic to the suggestion)

[2022-04-09 13:03] redtux opened #824 "BINDIR should default to /usr/local/bin/ not to /usr/bin"
Hi everybody, while the [readme](https://github.com/zaquestion/lab#bash) claims that `lab` will be installed to `/usr/local/bin` (which is what you would expect when not installing via a package manager), the default for `BINDIR` in [install.sh](https://raw.githubusercontent.com/zaquestion/lab/master/install.sh) is set to `/usr/bin`.

[2022-04-13 17:34] #819 closed

[2022-04-21 09:03] twouters opened #827 "lab mr create crashes when assigning to unknown usernames"
`lab mr create -a <username>` throws a segmentation fault when a username doesn't exist on a gitlab instance (because of typo's or just forgetting the actual username or whatever).
This is especially annoying because I usually run into this after writing lengthy MR descriptions and have to start typing it all over again.

Could it be changed to first check if users actually exist before initiating

[2022-04-21 11:28] prarit commented on #827
Thanks for the well-written bug report and I can understand your pain :)

ISTR we do save buffer output on errors with 'lab edit'.  I think this should be possible to do with 'lab create'.

I'll look into this.

[2022-04-21 11:52] prarit commented on #827
@twouters would be it be better to create the MR, and then write an error message to the console indicating that the user could not be found?

[2022-04-21 12:04] fmuellner commented on #827
Maybe also mention that the assignee can be changed with `lab mr edit <id> --assign <user>`? (filling in the MR ID, and maybe the (wrong) username)

[2022-04-21 12:04] twouters commented on #827
I'm fine with that, if the buffer output is saved and can be restored

[2022-04-25 15:35] #827 closed

[2022-05-02 17:59] JohnVillalovos opened #830 "`lab mr merge` does not respect delete source branch"
I create an mr using `lab mr create --remove-source-branch` and it shows that the source branch will be removed.

Then I dod `lab mr merge` and then it no longer shows it will remove the source branch.

Using lab version:
[code]

[2022-05-02 18:05] JohnVillalovos commented on #777
@bmeneg

The About text on the page https://github.com/zaquestion/lab still says it should be used as a wrapper:

![image](https://user-images.githubusercontent.com/578155/166300739-a8dab66a-8403-4e89-9108-a7724790d11d.png)

[2022-05-02 20:42] bmeneg commented on #777
Oops, that's something we need help from someone else: @zaquestion we merged the new readme file some time ago, would you mind updating the "about" words?

[2022-05-03 12:52] zampierilucas commented on #830
Hey @JohnVillalovos thanks for reporting that.

Unfortunately I count to reproduce your issue, I've also played with the project setting under `Merge Request` for the default of `delete source branch on merge` and saw no difference in it, also I've tested on `lab version v0.24.0-3-g73bada2`(a bit behind master), so It should have been fixed by another commit, can you test on your project with the

[2022-05-03 12:54] zampierilucas commented on #818
I don't think this is a lab issue as 405 means:
[code]

[2022-05-03 12:56] zampierilucas commented on #818
Alternatively, you can force lab to merge a mr with `-i, --immediate   merge immediately, regardless pipeline results`

[2022-05-03 13:46] JohnVillalovos commented on #830
So I am doing this on an MR which is still running the CI. Not sure if that is how you tested it. So by doing `lab mr merge` it sets the MR to merge after the pipeline has passed. Not sure if that is how you tested it.

[2022-05-03 16:19] zampierilucas commented on #830
Ooh, yeah, I don't have the setting to `wait for pipeline completion before merge` turned on, I'll do a bit more testing and get back to you

[2022-05-28 20:56] chenrui333 opened #833 "lab 0.24.0, 0.25.0 failed due to `ls-files` not exist"
not sure what was changed, but the most recent upgrade efforts ([0.24.0](https://github.com/Homebrew/homebrew-core/pull/96833) and [0.25.0](https://github.com/Homebrew/homebrew-core/pull/102493)) for homebrew formula failed due to command missing. Thanks!

error log as below:

[code]

[2022-06-21 15:59] bmeneg commented on #833
Hi @chenrui333 , `ls-files` is a git command and not a lab one. Until PR #809 (released with 0.25.0) the passthrough feature of lab was removed, meaning that commands not recognized by lab are no longer passed to git.

Another note is that the 0.25.0 tag is somewhat bogus release-wise, I'll probably have to delete it and recreate it due to a testing issue caused by misbehavior of our live testing

[2022-06-22 11:59] eaedev opened #834 "Increase Issue creation"
Add capability to add time tracking, due date and weight when create an issue